{% assign index = false %}
{% if template == 'blog' %}{% assign index = true %}{% endif %}

<article class="" data-blog-list-item style="background:#181818;">
<div class="container">

    {% if index %}
      <h1 class="text-white text-center"><a href="{{ article.url }}">{{ article.title }}</a></h1>
    {% else %}
      <h1 class="text-white">{{ article.title }}</h1>
    {% endif %}
      <div class="text-center">
        {%
          include 'rimg',
          img: article.image,
          alt: article.title,
          size: '1024x1024',
          class: 'post-image',
          lazy: true
        %}
      </div>
      <div class="article-date">
        <p class="text-white">{{ article.published_at | date: format: 'short_month' }}</p>
      </div>

      <div class="article-content">
        <p class="text-white">{{ article.content }}</p>
      </div>


</div>


</article>
