{% assign article_has_image = false %}
{% if article.image and section.settings.show_featured_image %}
  {% assign article_has_image = true %}
{% endif %}

<div class="blog-article-item">
  <div class="">
    {% if article_has_image %}
        {%
          include 'rimg',
          img: article.image,
          alt: article.title,
          size: '1024x1024',
          class: 'post-image',
          lazy: true
        %}

    {% endif %}
    <div class="article-body">
      <h5 class="card-title text-white">{{ article.published_at | date: format: 'long_month' }}</h5>
        <p class="text-white article_content">{{ article.content }}</p>

        {% comment %}
            {% if article.url %}
                <a style="color:#59cbdb;" href="{{ article.url }}" class="">Read More...</a>
            {% endif %}
        {% endcomment %}
    </div>
  </div>
</div>



