<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_2_);}
	.st1{clip-path:url(#SVGID_4_);fill:#63C3D5;}
	.st2{clip-path:url(#SVGID_6_);}
	.st3{clip-path:url(#SVGID_8_);fill:#FFFFFF;}
</style>
<g>
	<defs>
		<circle id="SVGID_1_" cx="10" cy="10" r="10"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<g class="st0">
		<defs>
			<rect id="SVGID_3_" x="-319" y="-5444" width="1440" height="6036"/>
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
		</clipPath>
		<rect x="-5" y="-5" class="st1" width="30" height="30"/>
	</g>
</g>
<g>
	<defs>
		<polygon id="SVGID_5_" points="3.5,10 13.5,3.5 13.5,16.5 		"/>
	</defs>
	<clipPath id="SVGID_6_">
		<use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
	</clipPath>
	<g class="st2">
		<defs>
			<rect id="SVGID_7_" x="-319" y="-5444" width="1440" height="6036"/>
		</defs>
		<clipPath id="SVGID_8_">
			<use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
		</clipPath>
		<rect x="-1.5" y="-1.5" class="st3" width="20" height="23"/>
	</g>
</g>
</svg>