
  <div class="module-container newsletter-section {% unless template contains 'password' %}{{ section.settings.newsletter_style }}{% endunless %}">
   
    <div class="module-inner">
      {% unless template contains 'password' %}
        {% if section.settings.newsletter_title != blank %}
          <h3 class="section-title">{{ section.settings.newsletter_title }}</h3>
        {% endif %}

        {% if section.settings.newsletter_caption != blank %}
          <div class="newsletter-message">
            {{ section.settings.newsletter_caption }}
          </div>
        {% endif %}
      {% endunless %}
      <div class="form-group">
        <label for="exampleInputPassword1" class="news-header">GET 20% OFF THE FIRST-TIME YOU ORDER OXIGEN</label>
        <label for="exampleInputPassword1" class="news-subtitle">Sign-up for email to get the code. Enter code at checkout to redeem.</label>
  
        {% form 'customer' %}
  
          {{ form.errors | default_errors }}
  
          {% if form.posted_successfully? %}
            <div class="newsletter-message">
              <p>{{ 'general.mailing_list.message' | t }}</p>
              <p class="end-text">an email with your discount code has been sent to:{{form.email}}</p>
            </div>
          {% else %}
            {%- capture tags -%}
              {%- unless template contains 'password' %}
                first-time-visitor
                {%- else -%}
                prospect, password page
              {%- endunless -%}
            {%- endcapture -%}
  
            <input type="hidden" id="contact_tags" name="contact[tags]" value="{{ tags | strip }}">
  
            <input
                    class="news-input"
                    name="contact[email]"
                    type="email"
                    placeholder="{{ 'general.general.email_placeholder' | t }}">
  
            <input
                    class="news-btn"
                    name="subscribe"
                    type="submit"
                    value="{{ 'general.general.subscribe' | t }}">
          {% endif %}
  
        {% endform %}
        <p class="end-text">You can unsubscribe at any time. Please see our <a href="/pages/privacy-policy">privacy policy.</a>  </p>
      </div>

      {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <div class="newsletter-message">
            <p>{{ 'general.mailing_list.message' | t }}</p>
          </div>
          <p class="end-text">an email with your discount code has been sent to:{{form.email}}</p>
      
        {% else %}
          {%- capture tags -%}
            {%- unless template contains 'password' %}
              first-time-visit
            {%- else -%}
              prospect, password page
            {%- endunless -%}
          {%- endcapture -%}
          
          <input type="hidden" id="contact_tags" name="contact[tags]" value="{{ tags | strip }}">

          <input
            class="input-field inline-field-input"
            name="contact[email]"
            type="email"
            placeholder="{{ 'general.general.email_placeholder' | t }}">

          <input
              class="inline-field-submit button secondary"
              name="subscribe"
              type="submit"
              value="{{ 'general.general.subscribe' | t }}">
        {% endif %}

      {% endform %}

    </div>

  </div>

