<div class="modal fade" id="first-time" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="container first-time-popup">
                <div class="row">
                   <div class="col-md-12">
 
                       <div class="form-group">
                       
                        <label for="exampleInputPassword1" class="news-header">Get 20% off the first-time you order OXIGEN.</label>
                        <label for="exampleInputPassword1" class="news-subtitle">Enter your email address to receive your unique discount code to use at checkout.</label>
        
                        {% form 'customer'  %}
                              {{ form.errors | default_errors }}  
                          {% if form.posted_successfully? %}
                               <!-- Modal -->
                              <div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="succes_modalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                    
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div id="first_succes_modal ">
                                        <div class="newsletter-message">
                                          <p class="news-header">{{ 'general.mailing_list.message' | t }}</p>
                                          <p class="text-center" style="font-size:1rem;color:#00589d;"> 
                                            an e-mail with your discount code has been sent to you.
                                            asdfasdf
                                            </p>
                                        </div>
                                      </div>
                                    </div>
                                  
                                  </div>
                                </div>
                              </div>
                                 
                          {% else %}
                          
                            {%- capture tags -%}
                              {%- unless template contains 'password' %}
                                first-time-visitor
                                {%- else -%}
                                prospect, password page
                              {%- endunless -%}
                            {%- endcapture -%}

                            
        
                            <input type="hidden" id="contact_tags" name="contact[tags]" value="{{ tags | strip }}">
                            <!-- <input type="hidden" name="customer[accepts_marketing]" value="{{ tags | strip }}" id="marketing" /> -->
        
                            <input
                                    id="form_email"
                                    class="news-input"
                                    name="contact[email]"
                                    type="email"
                                    placeholder="{{ 'general.general.email_placeholder' | t }}"
                            >

                            <div class = "error_text" style="display:none;color:red;">
                                his/her email is already in the system as customer with a purchase
                            </div>
        
                            <button
                                    class="news-btn"
                                    id="submit-button"
                                    type="button"
                                    onclick="submitFunction(event)"
                                    >
                                    Submit
                            </button>
                                    
                          {% endif %}
        
                        {% endform %}
                        <p class="end-text">You can unsubscribe at any time. Please see our <a href="/pages/privacy-policy">privacy policy.</a>  </p>
                       
                       
                       
                      </div>
        

                   </div>
                </div>
            </div>
            

        </div>
        
    </div>
    </div>
</div>