<div class="d-desktop-none">

    {% assign featured_image = selected_variant.featured_image | default: product.featured_image %}
    <div class="product-slideshow clearfix" >
      <div
        class="product-big-image {% if section.settings.enable_zoom %}can-zoom{% endif %}"
        data-no-image-svg="{{ 'no-image.svg' | asset_url }}"
        data-no-image-png="{{ 'no-image.png' | asset_url }}" >
    
        {% if product != blank %}
          {% capture featured_image_attr %}
            data-image-id="{{ image.id }}"
          {% endcapture %}
    
          {% assign lazy = false %}
          {% if featured_image %}
            {% assign lazy = true %}
          {% endif %}
           <img src="{{ product.images[0] | product_img_url: 'grande'  }}" id="mobile-show"  class="product-list-item-image">
    
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg product-no-images' }}
        {% endif %}
    
        {% if section.settings.enable_zoom %}<div class="product-image-zoom"></div>{% endif %}
      </div>
    
      {% if product.images.size > 1 %}
      <div class="product-thumbnails small-img">
          <div class="small-container">
              <div class="small-img-roll" id="mobile-roll">
                  {% for image in product.images limit:5 %}
                      {% capture product_image_attr %}
                          data-high-res="{{ image | product_img_url: '2048x2048' }}"
                          data-image-id="{{ image.id  }}"
                      {% endcapture %}
    
                      {% if image == featured_image %}
                          {% assign product_image_class = 'active' %}
                      {% endif %}
                      <img src="{{ image | product_img_url: 'grande'  }}"  class="image-item">
                   
                  {% endfor %}
              </div>
    
          </div>
      </div>
      {% endif %}
    </div>


   
</div>
