{% comment %}
  @param product {object}
    Product object drop is required
  @param selected_variant {object}
    selected_variant object is required
{% endcomment %}

{% assign featured_image = selected_variant.featured_image | default: product.featured_image %}
<div class="product-slideshow clearfix" >
  <div
    class="product-big-image {% if section.settings.enable_zoom %}can-zoom{% endif %}"
    data-no-image-svg="{{ 'no-image.svg' | asset_url }}"
    data-no-image-png="{{ 'no-image.png' | asset_url }}" >

    {% if product != blank %}
      {% capture featured_image_attr %}
        data-image-id="{{ image.id }}"
      {% endcapture %}

      {% assign lazy = false %}
      {% if featured_image %}
        {% assign lazy = true %}
      {% endif %}
       <img src="{{ product.images[0] | product_img_url: 'grande'  }}"  id="shots-show-img" class=" product-list-item-image">

     {% comment %}
         <img src="{{ featured_image | asset_url  }}" class="show-img product-list-item-image" id="shots-show-img">
          {%
            include 'rimg',
            img: featured_image,
            class: 'show-img',
            size: '2048x2048',
            attr: featured_image_attr,
            lazy: lazy
          %}
        {% endcomment %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg product-no-images' }}
    {% endif %}

    {% if section.settings.enable_zoom %}<div class="product-image-zoom"></div>{% endif %}
  </div>

  {% if product.images.size > 1 %}
  <div class="product-thumbnails small-img">
      <div class="small-container">
          <div class="small-img-roll">
              {% for image in product.images limit:5%}
                  {% capture product_image_attr %}
                      data-high-res="{{ image | product_img_url: '2048x2048' }}"
                      data-image-id="{{ image.id  }}"
                  {% endcapture %}

                  {% if image == featured_image %}
                      {% assign product_image_class = 'active' %}
                  {% endif %}
                  <img src="{{ image | product_img_url: 'grande'  }}"  class="shots-small-img">
                {% comment %}
                      {%
                          include 'rimg',
                          img: image,
                          size: 'grande',
                          class:"show-small-img"
                          attr: product_image_attr,
                      %}
                  {% endcomment %}
              {% endfor %}
          </div>

      </div>
  </div>
  {% endif %}
</div>
