{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% for option in product.options_with_values %}
    {% assign option_index = forloop.index0 %}
    {%- capture option_id -%}
      single-option-{{ form_id }}-{{ option_index }}
    {%- endcapture -%}

    <div class="inline-field-wrapper js-required">
      <div class="" id="basic-select">
      
        <select class="selectpicker"
          id="{{ option_id }}"
          data-option-select="{{ form_id }}"
          data-option-index="{{ option_index }}"
          >
          {% for value in option.values  %}
              <option value="{{ value | escape }}" id="{{forloop.index}}" >
                {{value}}
              </option>
          {% endfor %}
        </select>
  
      </div>
    </div>
  {% endfor %}
{% endunless %}