{% for variant in product.variants %}

    {% case variant.id %}
        {% when 31668908228671 %}
            <!-- Modal -->
            <div class="modal fade product-popup" id="{{variant.id}}_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-popup-image">
                                        <img src="https://cdn.shopify.com/s/files/1/0258/0709/3823/files/oxigen-1l-water.png?v=1580139066" alt="oxigen 1 liter water">
                                    </div>
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="product-popup-text">
                                        <h3 class="page-title product-title">OXIGEN Water</h3>
                                        <p class="product-subtitle">{{variant.title}}</p>
                                        <div class="dropdown-divider"></div>
                                            <p class="text-dark">
                                                Availabe in store only.<br>
                                                <a href="pages/find-oxigen" class="product-popup-text">Find your nearest retailer.</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                </div>
            </div>
        {% when 31668910325823 %}
            <!-- Modal -->
            <div class="modal fade product-popup" id="{{variant.id}}_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-popup-image">
                                        <img src="https://cdn.shopify.com/s/files/1/0258/0709/3823/files/oxigen-sport-cup.png?v=1580139065" alt="oxigen Sports Cap">

                                    </div>
                                    
                                </div>
                                <div class="col-md-8 text-center">
                                    <div class="product-popup-text">
                                        <h3 class="page-title product-title" >OXIGEN Water</h3>
                                        <p class="product-subtitle" >{{variant.title}}</p>
                                        <div class="dropdown-divider"></div>
                                        <p >Coming soon. Check back shortly.</p>

                                    </div>
                                  
                                
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    
                </div>
                </div>
            </div>

    {% endcase %}
 
{% endfor %}



