{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
	{%- assign bset = block.settings -%}
    margin-top: {{ bset.section_margin_top }}px;
    margin-bottom: {{ bset.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
	{%- assign bset = block.settings -%}
    padding-top: {{ bset.section_padding_top }}px;
    padding-bottom: {{ bset.section_padding_bottom }}px;
    {%- when 'section_background' -%}
	{%- assign bset = block.settings -%}

    background: {{ bset.section_bg_color }} 
      {%- if bset.section_bg_image -%}
        url("{{ bset.section_bg_image | img_url: 'master' }}")
      {%- endif -%} ;

    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
	  {%- assign bset = block.settings -%}
      margin-top: {{ bset.section_margin_top_md }}px;
      margin-bottom: {{ bset.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
    {%- assign bset = block.settings -%}
   

      padding-top: {{ bset.section_padding_top_md }}px;
      padding-bottom: {{ bset.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }



  <!-- @media (max-width: 1024px) {
    #section-{{ section.id }}{
        {%- for block in section.blocks -%}

            {%- assign bset = block.settings -%}

            background: {{ bset.section_bg_color }}
            {%- if bset.section_bg_tablet -%}
              url("{{ bset.section_bg_tablet | img_url: 'master' }}")
            {%- endif -%} ;

        {%- endfor -%}
    }
} -->

  @media (max-width: 1024px) {
      #section-{{ section.id }}{
          {%- for block in section.blocks -%}
            {%- assign bset = block.settings -%}
            background: {{ bset.section_bg_color }}
            {%- if bset.section_bgmobile_image -%}
              url("{{ bset.section_bgmobile_image | img_url: 'master' }}")
            {%- endif -%} ;

          {%- endfor -%}
      }
  }



{%- endstyle -%}


