{% if section.blocks.size > 0 %}
  <div class="product-more-info">
    {% for block in section.blocks %}
      {% if block.settings.shots_info_text != blank %}
        <p class="product-info-link {{ block.settings.shots_info_icon }}">
          {% if block.settings.shots_info_url != blank %}<a href="{{ block.settings.shots_info_url }}">{% endif %}
            {{ block.settings.shots_info_text | escape }}
          {% if block.settings.shots.info_url != blank %}</a>{% endif %}
        </p>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
