<ul>
  {% if settings.social_facebook_url != blank %}
    <li class="social-link facebook footer-li social"><a class="footer-a" href="{{ settings.social_facebook_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_twitter_url != blank %}
    <li class="social-link twitter footer-li social"><a class="footer-a" href="{{ settings.social_twitter_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_pinterest_url != blank %}
    <li class="social-link pinterest footer-li social"><a class="footer-a" href="{{ settings.social_pinterest_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_instagram_url != blank %}
    <li class="social-link instagram footer-li social"><a class="footer-a" href="{{ settings.social_instagram_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_vimeo_url != blank %}
    <li class="social-link vimeo footer-li social"><a class="footer-a" href="{{ settings.social_vimeo_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_youtube_url != blank %}
    <li class="social-link youtube footer-li social"><a class="footer-a" href="{{ settings.social_youtube_url }}" target="_blank"></a></li>
  {% endif %}
  {% if settings.social_rss_url != blank %}
    <li class="social-link rss footer-li social "><a class="footer-a" href="{{ settings.social_rss_url }}" target="_blank"></a></li>
  {% endif %}
</ul>
