<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
  <!-- <script>
        let firefoxAgent =  userAgentString.indexOf("Firefox") > -1;
        if(firefoxAgent) {
          {{ 'firefox.css' | asset_url | stylesheet_tag }}
        }
  </script> -->
   {{ 'firefox.css' | asset_url | stylesheet_tag }}

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    include 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  
   <!-- Bootstrap CDN Link -->
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.7.1.min.js' | asset_url | script_tag }}

  <!-- Store object -->
  {% include 'theme-options' %}

<!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2451242551816039');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2451242551816039&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->



  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WT4FZNG');</script>
  <!-- End Google Tag Manager -->

</head>
<body class="template-{{ template | replace: '.', '-' | handle }} {% if customer %}customer-logged-in{% endif %}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WT4FZNG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% section 'general-header' %}

  <main
    class="main-content"
    role="main"
    data-main-content>

    {% unless template contains 'index' or template contains 'product' %}
      {% include 'breadcrumbs' %}
    {% endunless %}
    {{ content_for_layout }}
  </main>

  {% section 'general-footer' %}

  <!-- Scripts -->
  {{ 'jquery-1.10.0.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  
  <!-- Bootstrap Scripts -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  {{ 'avo.js'  | asset_url | script_tag }}
  {% if template contains 'cart' %}
    {{ '/services/javascripts/countries.js' | script_tag }}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}



  <script type="application/json" data-currency-data>
    {
      "enable": {{ settings.enable_currency_converter | default: false }},
      "shopCurrency": {{ shop.currency | json }},
      "defaultCurrency": {{ settings.currency_converter_default | default: shop.currency | json }},
      "displayFormat": {{ settings.currency_display_format | json }},
      "moneyFormat": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }},
      "moneyFormatNoCurrency": {{ shop.money_format | strip_html | json }},
      "moneyFormatCurrency": {{ shop.money_with_currency_format | strip_html | json }}
    }
  </script>
  
  {% if settings.enable_currency_converter %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {% endif %}

  
  {{ 'startup.js'  | asset_url | script_tag }}
  {% include 'structured-data' %}

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>


  <script>
      let popupTrigger = $(".three-pic-part").last();
      var submit =   $('#submit-button');
      
     
        popupTrigger.css('cursor','pointer');

        popupTrigger.on('click',function()  {
            $('#first-time').modal('show');

        })
        // $("#submit-button").submit(function(e){
        //     return false;
        // });
        var data = [];
        $.ajax({url: "https://shopify.kraken.cloud/api/v1/customers", success: function(result){
            data.push(result);
        }});

        // $.each(data[0], function(key, obj) {
        //               //if(obj.email == 'helphand@me.com')
        //        console.log(obj.orders)
        //  });

      //  console.log(data )
        
        // if( _.some(data, {'email':'hes.manucharyan@gmail.com'})  ) {
        //       console.log('true a bro')
        // }else {
        //       console.log('false a aziz');
        // }

        
        
    
        var ifSubmited = false;
        function submitFunction(event) {
          event.preventDefault();

          // $('#contact_form').ajaxSubmit( () => {
          //     alert('ok bro');
          //     window.location.reload();
          // } );
         
          var formEmail = $("#form_email");

        
      

         
            if(formEmail.val() == "") {

                    formEmail.css('border','2px solid red');
                    $(".error_text").css('display','block');
                    $(".error_text").html("Cant be Empty");

            }else{

                  var existInDb = false;


                  $.each(data[0], function(key, obj) {
                  
                      //if(obj.email == 'helphand@me.com')
                      // if(obj.orders > 0) {
                      //   console.log(1)
                      // }
                      
                      if( obj.email == formEmail.val() && obj.orders > 0 ) {
                          existInDb = true;
                      }

                  });

                  if(existInDb){
                      console.log('bazayum arden ka ')
                      formEmail.css('border','2px solid red');
                      $(".error_text").css('display','block');
                      $(".error_text").html("this email is already in the system as customer with a purchase");
                  }else{
                      // formEmail.css('border','2px solid #00589d');
                      // $(".error_text").css('display','none');
                      
                      $.ajax({
                            url: "http://shopify.kraken.cloud/api/v1/customers/add",
                            method: 'post',
                            dataType: 'json',
                          
                            data: {
                                email: formEmail.val(),
                                tags: 'first-time-visitor',
                            },
                          
                            success:(result) => {

                              var $form = $('#contact_form');
                              var email = $('#contact_form #form_email').val();
                              var tag = $('#contact_form #contact_tags').val();

                              $('.first-time-popup form').submit();

                              console.log('chotkia gna sarqi taza userin');
                                 
                            },
                            error:(result) => {

                                formEmail.css('border','2px solid red');
                                $(".error_text").css('display','block');
                                $(".error_text").html("Some Errors Please check soon");
                              
                            },


                            
                        });
                        
                          
                     
                  }

                
                                         
            }
           
        }

        

        

         
        
        $('#first-time').on('hide.bs.modal', function (e) {
            $("#form_email").css('border','2px solid #1d589d');
            $(".error_text").html("");

        })
       
        // $(document).on('click', "#form_email" , function(e) {
         

        // })
        
        
        // submit.on('click', function(e) {

        //   alert('vasya');
        //   e.preventDefault();
        //   var email ;
        //   var formEmail = $("#form_email").val();

        //     $.ajax({url: "https://jsonplaceholder.typicode.com/users", success: function(result){
        //         email = result[0].email;
        //     }});

        //     if(formEmail == email) {
        //         alert('Success')
        //     }else{
        //       alert('error')
        //     }

        // })


        
        $(".footer-form #succes_modal").modal('show');
      
        $("#first_succes_modal").modal('show');

        // $('#first-time').on('shown.bs.modal', function (e) {
         
       
         

        // })
      //Video Code
        
  </script>

  {% include 'modal' %}

  
</body>
</html>
