{% schema %}
    {
        "name":"Cart Page Styles",
        "settings":[
            {
                "type":"color",
                "id":"bg_color",
                "label":"Enter Color",
                "default":"#f1f1f1"
            }
        ]
    }
{% endschema %}
