<script
        type="application/json"
        data-section-type="static-contact"
        data-section-id="{{ section.id }}"
></script>



<div  class="full-bg">
    <div class="contact-form-wrapper" >

        {% form 'contact' %}
            {% if form.posted_successfully? %}
                <p class="success-message">{{ 'contact.general.success' | t }}</p>
            {% endif %}

            {% if form.errors %}
                <p class="error-message">{{ 'contact.general.error' | t }}</p>
            {% endif %}

            {% unless form.posted_successfully? %}
                <div class="input-wrapper">
                    <input class="form-control {% if form.errors contains "author" %}error{% endif %}" type="text" placeholder="Your Name*" name="contact[name]">
                </div>
                <div class="input-wrapper">
                    <input class="form-control {% if form.errors contains "email" %}error{% endif %}" type="text" placeholder="Your Email*" name="contact[email]">
                </div>
                <div class="input-wrapper">
                    <input class="form-control {% if form.errors contains "subject" %}error{% endif %}" type="text" placeholder="Subject*" name="contact[subject]">
                </div>

                <div class="input-wrapper">
                    <textarea class="form-control {% if form.errors contains "body" %}error{% endif %}" name="contact[body]" placeholder="Message"  rows="6"></textarea>
                        <p class="text-white">* Indicates required fields</p>
                    <p class="text-white">{{ section.settings.confirm_text }}</p>
                </div>
                <div class="input-wrapper text-center text-md-right">
                    <input type="hidden" class="spam-check" value="">
                    <input class="button " type="submit" value="{{ 'general.general.submit' | t }}">
                </div>
            {% endunless %}
        {% endform %}
    </div>
</div>
<style>
    .full-bg{
        width:100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

{% style %}
        .full-bg{
            background:
            {%- if section.settings.bg_image -%}
                url("{{ section.settings.bg_image | img_url: 'master' }}")
            {%- endif -%};
            background-repeat: no-repeat;
            background-size: cover;
            padding: 1rem 0;
        }

        @media (max-width: 767px) {
            .full-bg{
                background:
                {%- if section.settings.mobile_bg_image -%}
                    url("{{ section.settings.mobile_bg_image | img_url: 'master' }}")
                {%- endif -%} ;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #343434;
            }
        }
{% endstyle %}

{% schema %}
    {
    "name": "Contact",
    "settings": [

        {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background image"
        },
        {
            "type": "image_picker",
            "id": "mobile_bg_image",
            "label": "Mobile image"
            },
        {
            "type":"text",
            "id":"confirm_text",
            "label":"Confirm Text"
        }
    ]
    }
{% endschema %}
