

{% assign is_slideshow = false %}
{% if template contains 'slideshow' %}
    {% assign is_slideshow = true %}
{% endif %}

{%- capture product_classes -%}
    clearfix

    {% if section.settings.center_product_details %}product-title-centered{% endif %}
    {%- if single_column_product -%}
        product-details-centered
    {%- else -%}
        product-details-inline
    {%- endif -%}
{%- endcapture -%}

<div class="custom-content" id="section-{{ section.id }}" data-section-type="dynamic-product" >
    <div class="product-main-part">

        <div class="row custom-content-align">

            <div class="container">
                <div class="product-container-water row">

                    {% assign product = all_products[section.settings.product] %}
                    {% if product.empty? %}
                        {% assign section_onboarding = true %}
                    {% endif %}

                    {% assign title_in_details = true %}
                    {%- capture product_title -%}
                        {%- unless section_onboarding -%}
                            <h2 class="product-title">
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </h2>
                            {%- else -%}
                            <h2 class="product-title">
                                <a href="#">{{ 'onboarding.featured_product.title' | t }}</a>
                            </h2>
                        {%- endunless -%}
                    {%- endcapture -%}
                    <div class="product-container_content">
                        {%
                            include 'product-json',
                            id: product.id,
                            add_to_cart_text: add_to_cart_text,
                            enable_history: true
                        %}
                        <div class="text-center">
                            {% if section.settings.title != blank %}
                                <h1 class="section-title">{{ section.settings.title | escape }}</h1>
                            {% endif %}
                            {% assign selected_variant = product.selected_or_first_available_variant %}
                            {% if is_slideshow == false and single_column_product == true %}
                                {% include 'product-images' %}
                            {% endif %}

                            {% include
                                'product-details',
                                is_home: true,
                                product_title: product_title,
                                subtitle:section.settings.subtitle
                                title_in_details: title_in_details
                            %}

                            {% include
                                'product-images'
                            %}
                            <div class="dropdown mobile-select">
                                <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    30 pack
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">30 pack</a>
                                    <a class="dropdown-item" href="#">60 pack</a>
                                    <a class="dropdown-item" href="#">80 pack</a>
                                </div>
                            </div>
                            <div class="product-wrap">
                                {%
                                    include 'product-form',
                                    hide_shoppad: true,
                                    form_id: section.id
                                %}
                                <div id="#tabs_water">

                                    <ul class="nav nav-tabs">
                                        <li  class="nav-item" >
                                            <a data-toggle="tab" class="nav-link active" href="#water_description">description</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" class="nav-link" href="#water_details">details</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="water_description" class="tab-pane fade in active show">
                                            {% if section.settings.description != blank or product.description != blank %}
                                                <div class="product-description rte">
                                                    {% if section.settings.description == blank %}
                                                        {{ product.description }}
                                                    {% else %}
                                                        {{ section.settings.description }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div id="water_details" class="tab-pane fade">
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="product-more-info">
                                    <p class="product-info-link question-mark">
                                        <a href="/pages/faq">
                                            Questions? Visit our FAQ
                                        </a>
                                    </p>
                                </div>
                                {% comment %}
                                    {% include 'product-additional-information' %}
                                {% endcomment %}
                            </div>
                            {%
                                include 'product-json',
                                id: section.id,
                                add_to_cart_text: add_to_cart_text,
                                enable_history: false
                            %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="container">
                <div class="product-container-shots row">
                    {% assign product = all_products[section.settings.product_second] %}
                    {% if product.empty? %}
                        {% assign section_onboarding = true %}
                    {% endif %}

                    {% assign title_in_details = true %}
                    {%- capture product_title -%}
                        {%- unless section_onboarding -%}
                            <h2 class="product-title">
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </h2>
                            {%- else -%}
                            <h2 class="product-title">
                                <a href="#">{{ 'onboarding.featured_product.title' | t }}</a>
                            </h2>
                        {%- endunless -%}
                    {%- endcapture -%}
                    <div class="product-container_content">
                        {%
                            include 'product-json',
                            id: product.id,
                            add_to_cart_text: add_to_cart_text,
                            enable_history: true
                        %}
                        <div class="text-center">
                            {% if section.settings.title != blank %}
                                <h1 class="section-title">{{ section.settings.title | escape }}</h1>
                            {% endif %}
                            {% assign selected_variant = product.selected_or_first_available_variant %}
                            {% include
                                'product-details',
                                is_home: true,
                                product_title: product_title,
                                subtitle:section.settings.subtitle_second
                                title_in_details: title_in_details
                            %}

                            {% assign featured_image = selected_variant.featured_image | default: product.featured_image %}
                            <div class="" >
                                <div
                                        class="product-big-image {% if section.settings.enable_zoom %}can-zoom{% endif %}"
                                        data-no-image-svg="{{ 'no-image.svg' | asset_url }}"
                                        data-no-image-png="{{ 'no-image.png' | asset_url }}">

                                    {% if product != blank %}
                                        {% capture featured_image_attr %}
                                            data-image-id="{{ image.id }}"
                                        {% endcapture %}

                                        {% assign lazy = false %}
                                        {% if featured_image %}
                                            {% assign lazy = true %}
                                        {% endif %}

                                        {%
                                            include 'rimg',
                                            img: featured_image,
                                            class: 'product-list-item-image',
                                            size: '2048x2048',
                                            attr: featured_image_attr,
                                            lazy: lazy
                                        %}
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg product-no-images' }}
                                    {% endif %}

                                    {% if section.settings.enable_zoom %}<div class="product-image-zoom"></div>{% endif %}
                                </div>

                                {% if product.images.size > 1 %}
                                    <div class="product-thumbnails">
                                        {% for image in product.images %}
                                            {% capture product_image_attr %}
                                                data-high-res="{{ image | product_img_url: '2048x2048' }}"
                                                data-image-id="{{ image.id }}"
                                            {% endcapture %}

                                            {% if image == featured_image %}
                                                {% assign product_image_class = 'active' %}
                                            {% endif %}
                                            {%
                                                include 'rimg',
                                                img: image,
                                                class: product_image_class,
                                                size: '50x50',
                                                attr: product_image_attr,
                                            %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="dropdown mobile-select">
                                <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    30 pack
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">30 pack</a>
                                    <a class="dropdown-item" href="#">60 pack</a>
                                    <a class="dropdown-item" href="#">80 pack</a>
                                </div>
                            </div>
                            <div class="product-wrap">
                                {%
                                    include 'product-form',
                                    hide_shoppad: true,
                                    form_id: section.id
                                %}

                                <div id="#tabs_shots">

                                    <ul class="nav nav-tabs">
                                        <li  class="nav-item" >
                                            <a data-toggle="tab" class="nav-link active" href="#shots_description">description</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" class="nav-link" href="#shots_details">details</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="shots_description" class="tab-pane fade in active show">
                                            {% if section.settings.description_second == blank %}
                                                {{ product.description }}
                                            {% else %}
                                                {{ section.settings.description_second }}
                                            {% endif %}
                                        </div>
                                        <div id="shots_details" class="tab-pane fade">
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="product-more-info">
                                    <p class="product-info-link question-mark">
                                        <a href="/pages/faq">
                                            Questions? Visit our FAQ
                                        </a>
                                    </p>
                                </div>
                                {% comment %}
                                    {% include 'product-additional-information' %}
                                {% endcomment %}

                            </div>

                            {%
                                include 'product-json',
                                id: section.id,
                                add_to_cart_text: add_to_cart_text,
                                enable_history: false
                            %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row three-pic-part-main" >

                    {% if section.settings.title != blank %}
                        <h3 class="section-title">{{ section.settings.title | escape }}</h3>
                    {% endif %}

                    {% for block in section.blocks offset:2 %}
                        {% assign feature_image = block.settings.svg_icon %}

                        <div class="col-md-4 three-pic-part">
                            <div class="home-inline-feauture-image">

                                {{feature_image  }}
                                {% comment %}
                                    <img class="hero__logo-image" src="{{ feature_image | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                                    {% if feature_image -%}

                                        {%
                                            include 'rimg',
                                            img: feature_image,
                                            size: '660x275',
                                            class: 'home-inline-image',
                                            style: image_style,
                                            lazy: true,
                                            style:"width:20%"
                                        %}
                                    {% endif %}
                                {% endcomment %}
                            </div>
                            <article class="home-inline-text">
                                {% if block.settings.title != blank %}
                                    <h1 class="feature-title">{{ block.settings.title | escape }}</h1>
                                {% endif %}

                                {% if block.settings.caption != blank%}
                                    <div class="rte">
                                        <p>{{ block.settings.caption }}</p>
                                    </div>
                                {% endif %}

                                {% if block.settings.button_link != blank and block.settings.button_text != blank %}
                                    <p class="home-inline-cta">
                                        <a href="{{ block.settings.button_link }}">{{ block.settings.button_text | escape }}</a>
                                    </p>
                                {% endif %}
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>



            {% for block in section.blocks %}
            {% case block.type %}
            {% when 'html_content' %}
            <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12" {{ block.shopify_attributes }}>
                <div class="html-content">
                    {{ block.settings.html_content }}
                </div>

            </div>
        </div>

    </div>
    {%- if block.settings.html_content_css != '' -%}
        <style>
            {{ block.settings.html_content_css }}
        </style>
    {%- endif -%}
    {% when 'image_content' %}
    <div class="col-lg-{{ block.settings.content_column }} col-md-{{ block.settings.content_column_md }} col-xs-12" {{ block.shopify_attributes }}>
        <div class="image-content">
            {% if block.settings.image_content_image != blank and block.settings.image_content_image_url != blank %}
                <a href="{{ block.settings.image_content_image_url }}">
                    <img src="{{ block.settings.image_content_image | img_url: 'master' }}" alt="{{ block.settings.image_content_image.alt }}">
                </a>
                {% elsif block.settings.image_content_image != blank %}
                <img src="{{ block.settings.image_content_image | img_url: 'master' }}" alt="{{ block.settings.image_content_image.alt }}">
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'custom-svg-image' }}
            {% endif %}
        </div>
    </div>

    {% endcase %}
    {% endfor %}
</div>
</div>
</div>



{%- include 'section-style' -%}

{% schema %}
    {
    "name": "Custom Content",
    "settings": [
    {
    "type": "header",
    "content": "Section Title"
    },
    {
    "type": "html",
    "id": "section_title",
    "label": "Title",
    "default": "All Products"
    },
    {
    "type": "html",
    "id": "section_sub_title",
    "label": "Subtitle",
    "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical"
    },
    {
    "type": "html",
    "id": "title",
    "label": "Heading"
    },
    {
    "type": "product",
    "id": "product",
    "label": "Product"
    },
    {
    "type": "select",
    "id": "product_align",
    "label": "Product Alignment",
    "options": [
    {
    "value": "left",
    "label": "Left"
    },
    {
    "value": "right",
    "label": "Right"
    }
    ],
    "default": "left"
    },
    {
    "type":"html",
    "id":"subtitle_second",
    "label":"Product Subtitle"
    },

    {
    "type": "html",
    "id": "description_second",
    "label": "Description",
    "default": "<p>Tell customers about the look, feel, and style of your product. Add details on color, materials, sizing, and where it was made.</p>",
    "info": "Override your long product description with one better suited to the home page."
    },
    {
    "type": "checkbox",
    "id": "show_spb_second",
    "label": "Show dynamic checkout button",
    "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "product_cart_redirect",
    "label": "Enable cart redirection",
    "info": "Automatically sends users to the Cart page after adding a product.",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "enable_zoom",
    "label": "Enable image zoom",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "product_show_vendor",
    "label": "Show names of vendors",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "linked_options",
    "label": "Disable sold out variants",
    "default": true
    },
    {
    "type": "select",
    "id": "variants_style",
    "label": "Variants style",
    "options": [
    {
    "value": "select",
    "label": "Dropdowns"
    },
    {
    "value": "radio",
    "label": "Buttons"
    }
    ],
    "default": "select"
    },

    {
    "type": "product",
    "id": "product_second",
    "label": "Product"
    },
    {
    "type": "select",
    "id": "product_align_second",
    "label": "Product Alignment",
    "options": [
    {
    "value": "left",
    "label": "Left"
    },
    {
    "value": "right",
    "label": "Right"
    }
    ],
    "default": "left"
    },
    {
    "type":"html",
    "id":"subtitle",
    "label":"Product Subtitle"
    },

    {
    "type": "html",
    "id": "description",
    "label": "Description",
    "default": "<p>Tell customers about the look, feel, and style of your product. Add details on color, materials, sizing, and where it was made.</p>",
    "info": "Override your long product description with one better suited to the home page."
    },
    {
    "type": "checkbox",
    "id": "show_spb",
    "label": "Show dynamic checkout button",
    "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "product_cart_redirect_second",
    "label": "Enable cart redirection",
    "info": "Automatically sends users to the Cart page after adding a product.",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "enable_zoom_second",
    "label": "Enable image zoom",
    "default": true
    },
    {
    "type": "checkbox",
    "id": "product_show_vendor_second",
    "label": "Show names of vendors",
    "default": false
    },
    {
    "type": "checkbox",
    "id": "linked_options_second",
    "label": "Disable sold out variants",
    "default": true
    },
    {
    "type": "select",
    "id": "variants_style_second",
    "label": "Variants style",
    "options": [
    {
    "value": "select",
    "label": "Dropdowns"
    },
    {
    "value": "radio",
    "label": "Buttons"
    }
    ],
    "default": "select"
    },
    {
    "type": "color",
    "id": "section_title_color",
    "label": "Title Color",
    "default": "#1f2226"
    },
    {
    "type": "color",
    "id": "section_subtitle_color",
    "label": "Subtitle Color",
    "default": "#5a5a5a"
    }
    ],
    "blocks":[

    {
    "type": "text_column",
    "name": "Column",
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Feature title"
    },
    {
    "type": "richtext",
    "id": "caption",
    "label": "Text",
    "default": "<p>Display up to six features with an option to toggle images on or off, and add unique calls to action.</p>"
    },
    {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
    },
    {
    "type": "url",
    "id": "button_link",
    "label": "Link URL"
    },
    {
    "type":"html",
    "id":"svg_icon",
    "label":"Svg Icon Code"
    }

    ]
    },



    {
    "type": "html_content",
    "name": "HTML Content",
    "settings": [
    {
    "type": "range",
    "id": "content_column",
    "min": 1,
    "max": 12,
    "step": 1,
    "label": "Content Column",
    "unit": "/12",
    "default": 6
    },
    {
    "type": "range",
    "id": "content_column_md",
    "min": 1,
    "max": 12,
    "step": 1,
    "label": "Tablet Content Column",
    "unit": "/12",
    "default": 6
    },

    {
    "type": "html",
    "id": "html_content",
    "label": "HTML Content",
    "default": "<div class='html-content-class'><h2>Custom Content Title</h2><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></div>"
    },
    {
    "type": "html",
    "id": "html_content_css",
    "label": "HTML Content CSS",
    "default": ".html-content-class{color: #666; margin-top: 100px;}.html-content-class h2{margin-bottom: 20px;}"
    }
    ]
    },
    {
    "type": "image_content",
    "name": "Image Content",
    "settings": [
    {
    "type": "range",
    "id": "content_column",
    "min": 1,
    "max": 12,
    "step": 1,
    "label": "Content Column",
    "unit": "/12",
    "default": 6
    },
    {
    "type": "range",
    "id": "content_column_md",
    "min": 1,
    "max": 12,
    "step": 1,
    "label": "Tablet Content Column",
    "unit": "/12",
    "default": 6
    },
    {
    "type": "image_picker",
    "id": "image_content_image",
    "label": "Image"
    },
    {
    "type": "url",
    "id": "image_content_image_url",
    "label": "URL"
    }
    ]
    },
    {
    "type": "section_padding",
    "name": "Section Padding",
    "limit": 1,
    "settings": [
    {
    "type": "header",
    "content": "Large/Desktop Device"
    },
    {
    "type": "range",
    "id": "section_padding_top",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_padding_bottom",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Bottom",
    "unit": "px",
    "default": 100
    },
    {
    "type": "header",
    "content": "Tablet Device"
    },
    {
    "type": "range",
    "id": "section_padding_top_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_padding_bottom_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Bottom",
    "unit": "px",
    "default": 80
    },
    {
    "type": "header",
    "content": "Mobile Device"
    },
    {
    "type": "range",
    "id": "section_padding_top_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_padding_bottom_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Padding Bottom",
    "unit": "px",
    "default": 60
    }
    ]
    },
    {
    "type": "section_margin",
    "name": "Section Margin",
    "limit": 1,
    "settings": [
    {
    "type": "header",
    "content": "Large/Desktop Device"
    },
    {
    "type": "range",
    "id": "section_margin_top",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_margin_bottom",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
    },
    {
    "type": "header",
    "content": "Tablet Device"
    },
    {
    "type": "range",
    "id": "section_margin_top_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_margin_bottom_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
    },
    {
    "type": "header",
    "content": "Mobile Device"
    },
    {
    "type": "range",
    "id": "section_margin_top_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
    },
    {
    "type": "range",
    "id": "section_margin_bottom_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
    }
    ]
    },
    {
    "type": "section_background",
    "name": "Section Background",
    "limit": 1,
    "settings": [
    {
    "type": "image_picker",
    "id": "section_bg_image",
    "label": "BG Image"
    },
    {
    "type": "image_picker",
    "id": "section_bgmobile_image",
    "label": "BG Mobile Image"
    },
    {
    "type": "color",
    "id": "section_bg_color",
    "label": "BG Color",
    "default": "#ffffff"
    }
    ]
    }

    ],
    "presets": [
    {
    "name": "Custom Content",
    "category": "others",
    "blocks":[
    {
    "type": "html_content"
    },
    {
    "type": "image_content"
    },

    {
    "type": "section_padding"
    },
    {
    "type": "text_column"
    }
    ]
    }
    ]
    }
{% endschema %}


