{%- assign sset = section.settings -%}{%- if sset.show_about_section -%}
<div class="the-sciense-story-area" id="section-{{ section.id }}" >


	  <article class="block-image"
			style="background-color:{{ sset.bg_color }}"
				  {%
					  include 'rimg',
					  img: sset.bg_img,
					  size: sset.image_size,
					  background: true,
					  crop: sset.crop_image,
					  lazy: true
				  %}
	  >


		  {% endif %}
		  {%- if sset.show_content -%}

				  <div class="story-details pl-50 container">
					  {%- if sset.title != '' or sset.subtitle != '' -%}
						  <div class="story-details-top">
							  {%- if sset.title != '' -%}
								  <h2 class="text-white font-weight-bold">{{ sset.title }}</h2>
							  {%- endif -%}

							  {%- if sset.subtitle != '' -%}
								  <p class="text-white"> {{ sset.subtitle }}</p>
							  {%- endif -%}
						  </div>
					  {%- endif -%}

					  {%- for block in section.blocks -%}{%- case block.type -%}
					  {%- when 'content' -%}
						  <div class="story-details-bottom mb-5">
							  <div class="container">
								  <div class="row">
									  <div class="col-md-4">
										  {%- if block.settings.title != '' -%}
											  <h4 class="text-lowercase my-class" style="color:#62c2d4;">{{ block.settings.title }}</h4>
											  <div class="text-center">
												  {%- if block.settings.header_logo  -%}
													  {%
														  include 'rimg',
														  img: block.settings.header_logo,
														  alt: Logo,
														  size: '300x90',
														  class: 'logo-regular',
														  attr: logo_attributes,
														  lazy: true
													  %}
												  {%- endif -%}
											  </div>
											  <p class="text-white text-center">{{ block.settings.adt_text }}</p>

										  {%- endif -%}
									  </div>
										<div class="col-md-8">
											{%- if block.settings.subtitle != '' -%}
												<p class="text-white">{{ block.settings.subtitle }}</p>
											{%- endif -%}
										</div>

								  </div>
							  </div>

						  </div>
					  {%- endcase -%}{%- endfor -%}
				  </div>

		  {%- endif -%}

	  </article>



</div>



</div>








{% schema %}
  {
    "name": "Faq Block",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_about_section",
            "label": "Show About Us",
            "default": true
        },
        {
            "type": "radio",
            "id": "page_content",
            "label": "Content show from-",
            "options": [
				{
					"label": "Page",
					"value": "page"
				},
				{
					"label": "Section",
					"value": "section"
				}
			],
            "default": "section"
        },
		{
            "type": "header",
            "content": "Image"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show Image",
            "default": true
        },

        {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Upload Image"
        },
		{
		"type": "color",
		"id": "bg_color",
		"label": "Choose Background Color"
		},

		{
            "type": "header",
            "content": "Content"
        },
        {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show Content",
            "default": true
        },
		{
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "WELCOME TO <span>PARLO</span>"
        },
		{
            "type": "html",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Parlo provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer."
        },
		{
			"type":"color",
			"label":"Text Color",
			"id":"text_color"
		}
	],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "html",
                    "id": "title",
                    "label": "Title",
                    "default": "WE START AT 2015"
                },
                {
                    "type": "html",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "default": "Parlo provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer."
                },
				{
				"type": "image_picker",
				"id": "header_logo",
				"label": "Logo image",
				"info": "300 x 90x .png recommended"
				},
				{
				"type": "html",
				"id": "adt_text",
				"label": "Subtitle"
				}
			]
		},
	    {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 2,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
	.block-image{
		background-size:cover;
		background-repeat:repeat-x;
	}
	.story-details{
		padding:5rem 0;
	}

{% endstylesheet %}


{% javascript %}
{% endjavascript %}
