
 <div data-section-id="{{ section.id }}" data-section-type="dynamic-product" >
  
   
    <div class="product-container-water container product-content" style="margin: 6rem auto 20rem auto;">
      <div class="product-container_content row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="d-mobile-none">
              {% include'product-images-water'%}
              </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="title">
                {%- capture product_title -%}
                <h1 class="page-title product-title">{{ product.title }}</h1>
              {%- endcapture -%}
              {{ product_title }}
              {% assign selected_variant = product.selected_or_first_available_variant  %}
                  {% include
                      'product-details-water',
                      is_home: true,
                      product_title: product_title,
                      subtitle:section.settings.subtitle_second
                      title_in_details: title_in_details
                  %}
                  {%
                      include 'product-json',
                      id: product.id,
                      add_to_cart_text: add_to_cart_text,
                      enable_history: true
                  %}
                  {% include'product-images-mobile-shots'%}

                  {%
                      include 'product-form',
                      hide_shoppad: true,
                      form_id: section.id
                  %}
                      

              </div>
              
              <div class="product-wrap">
                  
                  <div class="tab_container">
                      <div id="#tabs_water" class="tabs_water w-100">

                          <ul class="nav nav-tabs">
                              <li  class="nav-item" >
                                  <a data-toggle="tab" class="nav-link active" href="#water_description">description</a>
                              </li>
                              <li class="nav-item">
                                  <a data-toggle="tab" class="nav-link" href="#water_details">details</a>
                              </li>
                          </ul>
                          <div class="tab-content">
                              <div id="water_description" class="tab-pane fade in active show">

                                      <div class="product-description">
                                          {% if section.settings.desc_shots %}
                                              {{ section.settings.desc_shots }}
                                              {% else %}
                                                  <p>No Description to show</p>
                                          {% endif%}
                                      </div>

                                  

                              </div>
                              <div id="water_details" class="tab-pane fade">
                              {{ section.settings.details_shots }}
                              </div>
                              
                          </div>
                          <div class="product-more-info">
                              <p class="product-info-link question-mark">
                                  <a href="/pages/faq">
                                      Questions? Visit our FAQ
                                  </a>
                              </p>
                          </div>
                      

                      </div>
                  </div>
                  
              </div>

              {%
                  include 'product-json',
                  id: section.id,
                  add_to_cart_text: add_to_cart_text,
                  enable_history: false
              %}

          </div>

      </div>
           
      </div>

    </div>
   


</div>

{% assign add_to_cart_text = 'products.product.add_to_cart' | t %}
{%
  include 'product-json',
  id: product.id,
  add_to_cart_text: add_to_cart_text,
  enable_history: true
%}

{% schema %}
  {
  "name": "Product pages",
  "class": "section-product",
  "max_blocks": 4,
  "settings": [
  {
  "type": "select",
  "id": "product_align_second",
  "label": "Product Alignment",
  "options": [
  {
  "value": "left",
  "label": "Left"
  },
  {
  "value": "right",
  "label": "Right"
  }
  ],
  "default": "right"
  },

  {
    "type":"html",
    "id":"subtitle_second",
    "label":"Product Subtitle",
    "default":"<b>500x</b> the oxygen for<br><b>instant focus</b>"
},

  {
    "type": "html",
    "id": "desc_shots",
    "label": "Description",
    "default": "<p class='text-left'>You go hard; OXIGEN shots help you come back even faster. Shots with an O<sub>4</sub> edge, highly concentrated to give your brain and body an immediate kick. So whether you’re recovering from a lung-busting workout or a record-breaking night out, you can bounce back and face your next challenge.</p>",
    "info": "Override your long product description with one better suited to the home page."
},
{
    "type": "html",
    "id": "details_shots",
    "label": "Details",
    "default": "<ul style='list-style: disc;text-align: left;'> <li> 500x more oxygen than bottled or tap water</li> <li> 5,000 parts per million of bioavailable oxygen per 0.5 fl oz shot</li> <li>Proprietary O4 oxygen molecules are stable in water and remain in the water even after opening the bottle, unlike compressed gas (O2)</li> <li> Bioavailable O4 molecules enter the bloodstream immediately upon consumption</li> <li>100% recyclable plastic</li> <li>Certified Kosher</li> </ul>"
},
  {
  "type": "checkbox",
  "id": "show_spb",
  "label": "Show dynamic checkout button",
  "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "product_cart_redirect",
  "label": "Enable cart redirection",
  "info": "Automatically sends users to the Cart page after adding a product.",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "center_product_details",
  "label": "Center product title and price over content",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "enable_zoom",
  "label": "Enable image zoom",
  "info": "The image zoom does not apply to the Product slideshow template",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "product_show_vendor",
  "label": "Show names of vendors",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "linked_options",
  "label": "Disable sold out variants",
  "default": true
  },
  {
  "type": "select",
  "id": "variants_style",
  "label": "Variants style",
  "options": [
  {
  "value": "select",
  "label": "Dropdowns"
  },
  {
  "value": "radio",
  "label": "Buttons"
  }
  ],
  "default": "select"
  },
  {
  "type": "checkbox",
  "id": "single_column_product",
  "label": "Use single column layout if no variants",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "show_share_buttons",
  "label": "Show share buttons",
  "default": true
  }
  ],
  "blocks": [
  {
  "type": "additional_info",
  "name": "Additional info",
  "settings": [
  {
  "type": "paragraph",
  "content": "[Additional info](https://s3.amazonaws.com/cdn.pixelunion.net/startup/additional-info-screenshot.png) appear wherever a customer can view product information. They’re perfect for linking to size charts, refund policies, or ordering details. Pick from six unique icons."
  },
  {
  "type": "text",
  "id": "info_text",
  "label": "Text"
  },
  {
  "type": "url",
  "id": "info_url",
  "label": "Link URL"
  },
  {
  "type": "select",
  "id": "info_icon",
  "label": "Icon",
  "options": [
  {
  "value": "info",
  "label": "Information (i)"
  },
  {
  "value": "question-mark",
  "label": "Question mark"
  },
  {
  "value": "ruler",
  "label": "Ruler"
  },
  {
  "value": "envelope",
  "label": "Envelope"
  },
  {
  "value": "pencil",
  "label": "Pencil"
  },
  {
  "value": "shirt",
  "label": "Shirt"
  }
  ],
  "default": "info"
  }
  ]
  }
  ],
  "default": {
    "blocks": [
      {
        "type": "additional_info",
        "settings": {
        "info_text": "Additional info"
        }
      }
    ]
  }
  }

{% endschema %}
