{% assign border_class = '' %}
{% if settings.background-color == settings.footer-background-color %}
  {% unless settings.body_background_image or settings.footer_background_image %}
    {% assign border_class = 'default' %}
  {% endunless %}
{% endif %}

<div class="footer-wrapper {{ border_class }}">

  {% assign menu_class = 0 %}
  {% assign logo_image = section.settings.logo_image %}
  {% if menus[section.settings.menu_1].links.size > 0 %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  {% if menus[section.settings.menu_2].links.size > 0 %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  {% if
    settings.social_facebook_url != blank or
    settings.social_twitter_url != blank or
    settings.social_instagram_url != blank or
    settings.social_pinterest_url != blank or
    settings.social_vimeo_url != blank or
    settings.social_youtube_url != blank or
    settings.social_rss_url != blank
  %}
    {% assign has_social = true %}
    {% assign menu_class = menu_class | plus: 1 %}
  {% endif %}

  <footer >
    <div class="footer-columns">

      {% if section.settings.show_share_buttons %}
        <div class="social-share-section">
          {% if section.settings.sharing_heading != blank %}
            <p class="footer-title">{{ section.settings.sharing_heading }}</p>
          {% endif %}

          {% assign byline = section.settings.sharing_description %}
          {% if byline != blank %}
            <p>{{ byline }}</p>
          {% endif %}

          {% assign pinterest_image = '' %}

          {% if template contains 'product' %}
            {% assign pinterest_image = product.featured_image | img_url: '600x600' %}
          {% elsif template contains 'article' %}
            {% if article.image %}
              {% assign pinterest_image = article.image | img_url: '600x600' %}
            {% endif %}
          {% endif %}

          {% if section.settings.enable_twitter %}
            <a
              class="share-icon icon-tweet"
              href="//twitter.com/share?url={{ shop.url }}"
              target="_blank"
            >
              {{ 'general.social.twitter' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_facebook %}
            <a
              class="share-icon icon-like"
              href="//www.facebook.com/sharer.php?u={{ shop.url }}"
              target="_blank"
            >
              {{ 'general.social.facebook' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_pinterest %}
            <a
              class="share-icon icon-pin"
              href="//pinterest.com/pin/create/button/?url={{ shop.url }}{% if pinterest_image != blank %}&amp;media={{ pinterest_image }}{% endif %}&amp;description={{ shop.name }}"
              target="_blank"
            >
              {{ 'general.social.pinterest' | t }}
            </a>
          {% endif %}
          {% if section.settings.enable_fancy %}
            <a
              class="share-icon icon-fancy"
              href="//www.thefancy.com/fancyit?ItemURL={{ shop.url }}&amp;Title={{ shop.name }}"
              target="_blank"
            >
              {{ 'general.social.fancy' | t }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-12 text-left">
          <div class="row">
            <div class="col-4">
              {%
                include 'rimg',
                img: logo_image,
                lazy: true
              %}
            </div>
            <div class="col-8">
              {% for i in (1..2) %}
                {% capture menu %}menu_{{ i }}{% endcapture %}
                {% if menus[section.settings[menu]].links.size > 0 %}
                  {% capture menu %}{{ section.settings[menu] }}{% endcapture %}
                  <div >
                    {% if section.settings.show_menu_heading %}
                      <p class="footer-title">{{ menus[menu].title }}</p>
                    {% endif %}

                    <ul class="footer-form">

                      {% for link in menus[menu].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="col-md-4 col-sm-12">
          {% if section.settings.show_social_buttons%}
            <div class="footer-link-list social-icons">
              {% if section.settings.social_heading != blank %}
                <p class="footer-title">{{ section.settings.social_heading }}</p>
              {% endif %}
              {% if has_social %}

                <ul>

                    <li class="social">
                        {% if settings.social_instagram_url != blank %}
                            <a class="footer-a" href="{{ settings.social_instagram_url }}" target="_blank">
                                {{ section.settings.social_icon_insta }}
                            </a>
                        {% endif %}
                    </li>

                    <li class="social">
                      {% if settings.social_facebook_url != blank %}
                        <a class="footer-a" href="{{ settings.social_facebook_url }}" target="_blank">
                          {{ section.settings.social_icon_fb }}
                        </a>
                      {% endif %}
                    </li>

                </ul>

              {% endif %}
            </div>
          {% endif %}

        </div>
        <div class="col-md-4 col-sm-12 footer-form text-left">

              <div class="form-group">
                <label for="exampleInputPassword1" class="news-header">NEWSLETTER</label>
                <label for="exampleInputPassword1" class="news-title">Sign up for 10% off on your next order.</label>

                {% form 'customer' %}

                  {{ form.errors | default_errors }}

                  {% if form.posted_successfully?%}
                   
                    
                      <!-- Modal -->
                        <div class="modal fade" id="succes_modal" tabindex="-1" role="dialog" aria-labelledby="succes_modalTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                              
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div id="succes_modal ">
                                  <div class="newsletter-message">
                                    <p class="news-header">{{ 'general.mailing_list.message' | t }}</p>
                                    <p class="text-center" style="font-size:1rem;color:#00589d;"> 
                                      an e-mail with your discount code has been sent to you.
                                     
                                      </p>
                                  </div>
                                </div>
                              </div>
                            
                            </div>
                          </div>
                        </div>
                  
                  {% else %}
                    {%- capture tags -%}
                      {%- unless template contains 'password' %}
                        newsletter
                        {%- else -%}
                        prospect, password page
                      {%- endunless -%}
                    {%- endcapture -%}

                    <input type="hidden" id="contact_tags" name="contact[tags]" value="{{ tags | strip }}">

                    <input
                            
                            class="news-input"
                            name="contact[email]"
                            type="email"
                            value=""
                            placeholder="{{ 'general.general.email_placeholder' | t }}">

                    <input
                            class="news-btn"
                            name="subscribe"
                            type="submit"
                            value="{{ 'general.general.subscribe' | t }}">
                  {% endif %}

                {% endform %}

              </div>



        </div>

        <div role="contentinfo" class="copyright footer-module">
          {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
          <p>
            {{ 'general.general.copyright_text_html' | t: year: year, shop_name: shop.name }}
            <br>
          </p>
        </div>

    </div>

    {% if shop.enabled_payment_types.size > 0 and section.settings.show_payment_icons %}
      <div class="payment-types footer-module">
        {% for type in shop.enabled_payment_types %}
          <div class="payment-types-item">
            {{ type | payment_type_svg_tag }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </footer>

</div>




<style>
  #succes_modal .news-header{
    color:#1d569d;
    font-size:2rem;
    text-align: center;
  }
</style>
{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "header",
      "content": "Menus"
    },
    {
    "type": "image_picker",
    "id": "logo_image",
    "label": "Logo Image",
    "info": "Logo image"
    },
    {
      "type": "checkbox",
      "id": "show_menu_heading",
      "label": "Show menu headings",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu 1",
      "default": "footer",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu 2",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "header",
      "content": "Social links",
      "info": "To manage your social media links, go to the Social media section in the Theme settings tab."
    },
    {
      "type": "checkbox",
      "id": "show_social_buttons",
      "label": "Show social links",
      "default": false
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "Heading",
      "default": "Social links"
    },
    {
      "type": "header",
      "content": "Share"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share section",
      "default": true
    },
    {
      "type": "text",
      "id": "sharing_heading",
      "label": "Heading",
      "default": "Help us spread the word!"
    },
    {
      "type": "text",
      "id": "sharing_description",
      "label": "Description",
      "default": "Please help us spread the news about our awesome products."
    },
    {
      "type": "checkbox",
      "id": "enable_twitter",
      "default": true,
      "label": "Enable Twitter"
    },
    {
      "type": "checkbox",
      "id": "enable_facebook",
      "default": true,
      "label": "Enable Facebook"
    },
    {
      "type": "checkbox",
      "id": "enable_pinterest",
      "default": true,
      "label": "Enable Pinterest"
    },
    {
      "type": "checkbox",
      "id": "enable_fancy",
      "default": true,
      "label": "Enable Fancy"
    },
    {
      "type": "header",
      "content": "Payment icons"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons"
    },
      {
        "type":"html",
        "id":"social_icon_fb",
        "label":"Facebook Icon"


      },
      {
      "type":"html",
      "id":"social_icon_insta",
      "label":"Insta Icon"

      }


  ]
}

{% endschema %}
