
{% assign product = all_products[section.settings.product] %}

<div id="section-{{ section.id }}" data-section-type="dynamic-product"></div>
    <div class="product-main-part">
            <div class="product-container-water">
            
                {% if product.empty? %}
                    {% assign section_onboarding = true %}
                {% endif %}
                {% assign title_in_details = true %}
                {%- capture product_title -%}
                    {%- unless section_onboarding -%}
                        <h2 class="product-title">
                            <a href="{{ product.url }}">{{ product.title }}</a>
                        </h2>
                        {%- else -%}
                        <h2 class="product-title">
                            <a href="#">{{ 'onboarding.featured_product.title' | t }}</a>
                        </h2>
                    {%- endunless -%}
                {%- endcapture -%}

                <section 
                data-section-id="{{ section.id }}" 
                data-section-type="dynamic-featured-product" class="container product-content " id="shot" >
                
                    <div class="product-container_content row">
                        <div class="col-md-6 col-sm-12 col-xs-12 order-2">
                            <div class="d-mobile-none">
                                {% include'product-images-shots'%}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 order-1">
                            <div class="title">
                                
                                {% assign selected_variant = product.selected_or_first_available_variant  %}
                                {% include
                                    'product-details-water',
                                    is_home: true,
                                    product_title: product_title,
                                    subtitle:section.settings.subtitle
                                    title_in_details: title_in_details
                                %}
                                {%
                                    include 'product-json',
                                    id: product.id,
                                    add_to_cart_text: add_to_cart_text,
                                    enable_history: true
                                %}
                               
                                {% include'product-images-mobile-shots'%}

                                {%
                                    include 'product-form',
                                    hide_shoppad: true,
                                    form_id: section.id
                                %}
                                    

                            </div>
                        
                            <div class="product-wrap">
                                <div class="tab_container">
                                    <div id="#tabs_shots" class="tabs_shots w-100">
    
                                        <ul class="nav nav-tabs">
                                            <li  class="nav-item" >
                                                <a data-toggle="tab" class="nav-link active" href="#shots_description">description</a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" class="nav-link" href="#shots_details">details</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="shots_description" class="tab-pane fade in active show">
    
                                                <div class="product-description">
                                                    {% if section.settings.desc %}
                                                        {{ section.settings.desc }}
                                                        {% else %}
                                                            <p>No Description to show</p>
                                                    {% endif%}
                                                </div>
    
                                            </div>
                                            <div id="shots_details" class="tab-pane fade">
                                            {{ section.settings.details}}
                                            </div>
                                            
                                        </div>
                                        <div class="product-more-info">
                                            <p class="product-info-link question-mark">
                                                <a href="/pages/faq">
                                                    Questions? Visit our FAQ
                                                </a>
                                            </p>
                                        </div>
                                    
    
                                    </div>
                                </div>
                                
                            </div>

                            {%
                                include 'product-json',
                                id: section.id,
                                add_to_cart_text: add_to_cart_text,
                                enable_history: false
                            %}

                        </div>
                    
                    </div>
                </section>
            </div>
    </div>
</div>




{%- include 'section-style' -%}

{% schema %}
    {
        "name": "Global Product",
        "settings": [
    {
        "type": "header",
        "content": "Section Title"
    },
    
    {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "Custom Content"
    },
    {
        "type": "header",
        "content": "Oxigen Product Shots"
    },

    {
        "type": "product",
        "id": "product",
        "label": "Product"
    },
    {
        "type": "select",
        "id": "product_align",
        "label": "Product Alignment",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ],
        "default": "left"
    },


    {
        "type":"html",
        "id":"subtitle",
        "label":"Product Subtitle",
        "default":"<b>500x</b> the oxygen for<br><b>instant focus</b>"
    },
    {
        "type": "html",
        "id": "desc",
        "label": "Description",
        "default": "<p class='text-left'>You go hard; OXIGEN shots help you come back even faster. Shots with an O<sub>4</sub> edge, highly concentrated to give your brain and body an immediate kick. So whether you’re recovering from a lung-busting workout or a record-breaking night out, you can bounce back and face your next challenge.</p>",
        "info": "Override your long product description with one better suited to the home page."
    },
    {
        "type": "html",
        "id": "details",
        "label": "Details",
        "default": "<ul style='list-style: disc;text-align: left;'> <li> 500x more oxygen than bottled or tap water</li> <li> 5,000 parts per million of bioavailable oxygen per 0.5 fl oz shot</li> <li>Proprietary O4 oxygen molecules are stable in water and remain in the water even after opening the bottle, unlike compressed gas (O2)</li> <li> Bioavailable O4 molecules enter the bloodstream immediately upon consumption</li> <li>100% recyclable plastic</li> <li>Certified Kosher</li> </ul>"
    },
    {
        "type": "checkbox",
        "id": "show_spb",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "product_cart_redirect",
        "label": "Enable cart redirection",
        "info": "Automatically sends users to the Cart page after adding a product.",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "product_show_vendor",
        "label": "Show names of vendors",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "linked_options",
        "label": "Disable sold out variants",
        "default": true
    },
    {
        "type": "select",
        "id": "variants_style",
        "label": "Variants style",
        "options": [
            {
            "value": "select",
            "label": "Dropdowns"
            },
            {
            "value": "radio",
            "label": "Buttons"
            }
        ],
        "default": "select"
    },

    
    {
        "type": "color",
        "id": "section_title_color",
        "label": "Title Color",
        "default": "#1f2226"
    },
    {
        "type": "color",
        "id": "section_subtitle_color",
        "label": "Subtitle Color",
        "default": "#5a5a5a"
    }
    ],
    "blocks":[

        {
            "type": "text_column",
            "name": "Column",
            "settings": [
                {
                "type": "html",
                "id": "title",
                "label": "Heading",
                "default": "Feature title"
                },
                {
                "type": "html",
                "id": "caption",
                "label": "Text",
                "default": "<p>Display up to six features with an option to toggle images on or off, and add unique calls to action.</p>"
                },
                {
                "type": "html",
                "id": "button_text",
                "label": "Button text"
                },
                {
                "type": "url",
                "id": "button_link",
                "label": "Link URL"
                },
                {
                "type":"html",
                "id":"svg_icon",
                "label":"Svg Icon Code"
                }

            ]
        },



        {
            "type": "html_content",
            "name": "HTML Content",
            "settings": [
                {
                    "type": "range",
                    "id": "content_column",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "label": "Content Column",
                    "unit": "/12",
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "content_column_md",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "label": "Tablet Content Column",
                    "unit": "/12",
                    "default": 6
                },

                {
                    "type": "html",
                    "id": "html_content",
                    "label": "HTML Content",
                    "default": "<div class='html-content-class'><h2>Custom Content Title</h2><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></div>"
                },
                {
                    "type": "html",
                    "id": "html_content_css",
                    "label": "HTML Content CSS",
                    "default": ".html-content-class{color: #666; margin-top: 100px;}.html-content-class h2{margin-bottom: 20px;}"
                }
            ]
        },
        {
            "type": "image_content",
            "name": "Image Content",
            "settings": [
                {
                "type": "range",
                "id": "content_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Content Column",
                "unit": "/12",
                "default": 6
                },
                {
                "type": "range",
                "id": "content_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet Content Column",
                "unit": "/12",
                "default": 6
                },
                {
                "type": "image_picker",
                "id": "image_content_image",
                "label": "Image"
                },
                {
                "type": "url",
                "id": "image_content_image_url",
                "label": "URL"
                }
            ]
        },
        {
            "type": "section_padding",
            "name": "Section Padding",
            "limit": 1,
            "settings": [
                {
                "type": "header",
                "content": "Large/Desktop Device"
                },
                {
                "type": "range",
                "id": "section_padding_top",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_padding_bottom",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 100
                },
                {
                "type": "header",
                "content": "Tablet Device"
                },
                {
                "type": "range",
                "id": "section_padding_top_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_padding_bottom_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 80
                },
                {
                "type": "header",
                "content": "Mobile Device"
                },
                {
                "type": "range",
                "id": "section_padding_top_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_padding_bottom_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Padding Bottom",
                "unit": "px",
                "default": 60
                }
            ]
        },
        {
            "type": "section_margin",
            "name": "Section Margin",
            "limit": 1,
            "settings": [
                {
                "type": "header",
                "content": "Large/Desktop Device"
                },
                {
                "type": "range",
                "id": "section_margin_top",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_margin_bottom",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
                },
                {
                "type": "header",
                "content": "Tablet Device"
                },
                {
                "type": "range",
                "id": "section_margin_top_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_margin_bottom_md",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
                },
                {
                "type": "header",
                "content": "Mobile Device"
                },
                {
                "type": "range",
                "id": "section_margin_top_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Top",
                "unit": "px",
                "default": 0
                },
                {
                "type": "range",
                "id": "section_margin_bottom_xs",
                "min": 0,
                "max": 150,
                "step": 5,
                "label": "Margin Bottom",
                "unit": "px",
                "default": 0
                }
            ]
        },
        {
            "type": "section_background",
            "name": "Section Background",
            "limit": 1,
            "settings": [
                {
                "type": "image_picker",
                "id": "section_bg_image",
                "label": "BG Image"
                },
                {
                "type": "image_picker",
                "id": "section_bgmobile_image",
                "label": "BG Mobile Image"
                },
                {
                "type": "color",
                "id": "section_bg_color",
                "label": "BG Color",
                "default": "#ffffff"
                }
            ]
        }

     
      
     

    ],
    "presets": [
        {
            "name": "Custom Content",
            "category": "others",
            "blocks":[
                {
                    "type": "html_content"
                },
                {
                    "type": "image_content"
                },

                {
                    "type": "section_padding"
                },
                {
                    "type": "text_column"
                }
                
              
            ]
        }
    ]
    }
{% endschema %}


