{% assign sset = section.settings %}
{% style %}
	.global-bg{
		background:
		{%- if sset.bg -%}
			url("{{ sset.bg | img_url: 'master' }}")
		{%- endif -%} ;
        background-color: #fcfbfc;
		
	}
	@media (max-width: 1024px) {
		.global-bg{
				background:
				{%- if sset.mobile_bg -%}
					url("{{ sset.mobile_bg | img_url: 'master' }}")
				{%- endif -%} ;
                background-color: #fafafa;
			}
    }
    


{% endstyle %}

{% schema %}
{
    "name":"Section Background",
    "settings":[
        {
            "type":"image_picker",
            "label":"Background Image",
            "id":"bg"
        },  
        {
            "type":"image_picker",
            "label":"Mobile Bg",
            "id":"mobile_bg"
        }    
    ]
}

{% endschema %}
