<section
  class="module-container {{ section.settings.style }} grid-of-{{ section.blocks.size }}"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-testimonials"
>
  <div class="module-inner dynamic-testimonials">
    {% if section.settings.title != blank %}
      <h1 class="section-title">{{ section.settings.title  }}</h1>
    {% endif %}

    {% for block in section.blocks %}
      {% capture current %}{% cycle 1, 2 %}{% endcapture %}

      <div
        class="home-testimonial has-avatar"
        {{ block.shopify_attributes }}
      >
        {% if block.settings.avatar %}
          <div
            class="home-testimonial-avatar"
            {%
              include 'rimg',
              img: block.settings.avatar,
              size: '80x80',
              background: true,
              crop: 'center'
            %}
          >
            {%
              include 'rimg',
              img: block.settings.avatar,
              size: '80x80',
              crop: 'center'
            %}
          </div>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'home-testimonial-avatar placeholder-svg' }}
        {% endif %}

        {% if block.settings.quote != blank %}
          <blockquote class="home-testimonial-quote">
            {{ block.settings.quote  }}
          </blockquote>
        {% endif %}

        {% if block.settings.source != blank%}
          <p class="home-testimonial-quote-source">
            – {{ block.settings.source  }}
          </p>
        {% endif %}
      </div>

    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "html",
          "id": "quote",
          "label": "Quote",
          "default": "Showcase up to six testimonials to build trust with potential customers."
        },
        {
          "type": "html",
          "id": "source",
          "label": "Source",
          "default": "Source's name."
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar",
          "info": "120 x 120px .jpg required"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Testimonials",
      "settings": {
        "style": "default"
      },
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "source": "Jane"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "source": "John"
          }
        }
      ]
    }
  ]
}

{% endschema %}