<section
  class="module-container {{ section.settings.style }} {% if section.settings.show_borders %}borders{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="alternating-features">
  <div class="module-inner home-left-right-features">

    {% if section.settings.title != blank %}
      <h1 class="section-title">{{ section.settings.title | escape  }}</h1>
    {% endif %}

    {% for block in section.blocks %}
      {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}

      {% assign has_button = false %}
      {% if block.settings.button_link != blank and block.settings.button_text != blank %}
        {% assign has_button = true %}
      {% endif %}

      <article class="home-left-right-feature clearfix media-aligned-{{ block.settings.media_alignment }}" {{ block.shopify_attributes }}>

        <div class="home-left-right-media">
          {% if block.type == 'image' %}
            {% if block.settings.image %}
              {%
                include 'rimg',
                img: block.settings.image,
                size: '660x440',
                class: 'feature-image',
                lazy: true
              %}
            {% else %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg feature-image' }}
            {% endif %}
          {% elsif block.type == 'video' %}
            <div class="video-wrapper">
              {% if block.settings.video_url != blank %}
                {% if block.settings.video_url.type == "youtube" %}
                  <iframe
                    src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720"
                    width="850"
                    height="480"
                    frameborder="0"
                    allowfullscreen></iframe>
                {% endif %}
                {% if block.settings.video_url.type == "vimeo" %}
                  <iframe
                    src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0"
                    width="850"
                    height="480"
                    frameborder="0"
                    allowfullscreen></iframe>
                {% endif %}
              {% else %}
                <iframe
                  src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720"
                  width="850"
                  height="480"
                  frameborder="0"></iframe>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="home-left-right-text">
          {% if block.settings.title != blank %}
            <h1 class="feature-title">{{ block.settings.title | escape }}</h1>
          {% endif %}

          {% if block.settings.caption != blank or has_button %}
            <div class="rte">
              {% if block.settings.caption != blank %}
                <p>{{ block.settings.caption | escape | newline_to_br }}</p>
              {% endif %}

              {% if has_button %}
                <p>
                  <a href="{{ block.settings.button_link }}">{{ block.settings.button_text | escape }}</a>
                </p>
              {% endif %}
            </div>
          {% endif %}
        </div>
        
        
<!--     Product -->
        
        
{% assign selected_variant = product.selected_or_first_available_variant | default: product %}

{% assign single_column_product = false %}
{% if block.single_column_product or product.variants.size == 1 %}
  {% assign single_column_product = true %}
{% endif %}

{% assign is_slideshow = false %}
{% if template contains 'slideshow' %}
  {% assign is_slideshow = true %}
{% endif %}

{%- capture product_classes -%}
  clearfix

  {% if block.center_product_details %}product-title-centered{% endif %}
  {%- if single_column_product -%}
    product-details-centered
  {%- else -%}
    product-details-inline
  {%- endif -%}
{%- endcapture -%}

<div
  class="{{ product_classes | strip }}"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-product"
>
  {%- capture product_title -%}
    <h1 class="page-title product-title">{{ product.title }}</h1>
  {%- endcapture -%}

  {% if is_slideshow == false and single_column_product == true %}
    {% include 'product-images' %}
  {% endif %}

  {%
    include
    'product-details',
    product_title: product_title,
    title_in_details: true
  %}

  {% if is_slideshow == false and single_column_product == false %}
    {% include 'product-images' %}
  {% endif %}

  <div class="product-wrap" data-product-id="{{ product.id }}">

    {% include 'product-form' %}

    {% if product.description.size > 0 %}
      <div class="product-description rte">
        {{ product.description }}
        {% include 'product-additional-information' %}
      </div>
    {% else %}
      {% include 'product-additional-information' %}
    {% endif %}

    {% if block.show_share_buttons %}
      {% include 'share-buttons' %}
    {% endif %}

  </div>
</div>

{% assign add_to_cart_text = 'products.product.add_to_cart' | t %}

{%
  include 'product-json',
  id: product.id,
  add_to_cart_text: add_to_cart_text,
  enable_history: true
%}
        
        
        
      </article>
    {% endfor %}

  </div>
</section>

{% schema %}
{
  "name": "Alternating content",
  "max_blocks": 5,
  "settings": [
    {
      "type": "paragraph",
      "content": "[Alternating content](http://cdn.pixelunion.net/startup/alternating-features-screenshot.png) is designed to explain product specifics in a clean and organized format. This section can display up to three features with alternating alignments."
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_borders",
      "label": "Show border between features",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "media_alignment",
          "label": "Image alignment",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Alternating content"
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Text",
          "default": "Employ up to three alternating features with an option to align images or videos to the left/right and include a call to action below."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "660 x 440px .png recommended"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "select",
          "id": "media_alignment",
          "label": "Video alignment",
          "options": [
            {
              "value": "left",
              "label": "Video on left"
            },
            {
              "value": "right",
              "label": "Video on right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Alternating content"
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Text",
          "default": "Employ up to three alternating features with an option to align images or videos to the left/right and include a call to action below."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link URL"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Youtube or Vimeo link",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        }
      ]
    },
	{
      "type": "product",
      "name": "Product",
      "settings": [
       {
            "type": "checkbox",
            "id": "show_spb",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "product_cart_redirect",
            "label": "Enable cart redirection",
            "info": "Automatically sends users to the Cart page after adding a product.",
            "default": false
          },
         {
            "type": "checkbox",
            "id": "center_product_details",
            "label": "Center product title and price over content",
            "default": true
          },
           {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "info": "The image zoom does not apply to the Product slideshow template",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "product_show_vendor",
            "label": "Show names of vendors",
            "default": false
          },
             {
            "type": "checkbox",
            "id": "linked_options",
            "label": "Disable sold out variants",
            "default": true
          },
  			{
            "type": "select",
            "id": "variants_style",
            "label": "Variants style",
            "options": [
              {
                "value": "select",
                "label": "Dropdowns"
              },
              {
                "value": "radio",
                "label": "Buttons"
              }
            ],
            "default": "select"
          },
          {
            "type": "checkbox",
            "id": "single_column_product",
            "label": "Use single column layout if no variants",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_share_buttons",
            "label": "Show share buttons",
            "default": true
          }
      ]
		
    }
 	


  ],
  "presets": [
    {
      "category": "Advanced layout",
      "name": "Alternating content",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "media_alignment": "left"
          }
        },
        {
          "type": "video",
          "settings": {
            "media_alignment": "right"
          }
        },
        {
          "type": "image",
          "settings": {
            "media_alignment": "left"
          }
        }
      ]
    }
  ]
}

{% endschema %}
