{% if section.settings.enable and section.blocks.size > 0 %}


  {%- capture feature_styles -%}
    color: {{ section.settings.text_color }};
  {%- endcapture -%}



  {%- capture slideshow_classes -%}
    full-slideshow-wrapper
    {{ section.settings.slideshow_transition }}
    {{ section.settings.slideshow_layout }}
    {% if section.settings.show_shadows %}slide-text-use-shadows{% endif %}
  {%- endcapture -%}

  {% assign trigger_full_bleed = false %}
  {%- if section.settings.slideshow_layout == 'full-bleed' -%}
    {% assign trigger_full_bleed = true %}
  {%- elsif section.settings.slideshow_layout == 'opening-screen' -%}
    {% assign trigger_full_bleed = true %}
  {%- endif -%}

  {% assign image_size = '' %}
  {% if section.settings.slideshow_layout == 'content-width' %}
    {% assign image_size = '960x' %}
  {% elsif section.settings.slideshow_layout == 'full-width' %}
    {% assign image_size = '1440x' %}
  {% elsif section.settings.slideshow_layout == 'full-bleed' %}
    {% assign image_size = '1440x' %}
  {% elsif section.settings.slideshow_layout == 'opening-screen' %}
    {% assign image_size = '2048x' %}
  {% endif %}

  {% assign slideshow_autoplay = section.settings.autoplay %}

  {% for block in section.blocks %}

    <div class="article-image">

      {%
        include 'rimg',
        img: block.settings.article_image,
        lazy: true
      %}

    </div>

     
{% endfor %}

  <div
    class="{{ slideshow_classes | strip_newlines}} slideshow-section"
    {% if slideshow_autoplay %}
      data-autoplay="{{ section.settings.frequency | times: 1000 }}"
    {% endif %}
    {% if trigger_full_bleed %}
      data-full-bleed-slideshow
    {% endif %}
    data-section-id="{{ section.id }}"
    data-section-type="static-slideshow"
    data-section-style="default-style"
    style="{{ feature_styles | strip_newlines }}"
  >

    {% if section.blocks.size > 0 %}


      <section class="full-slideshow-content" data-slideshow-container>

        <div class="full-slideshow-loader"></div>

        {% for block in section.blocks %}
          
            

       
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}

          {% assign has_content = true %}
          {% if
            block.settings.title == blank and
            block.settings.subtitle == blank and
            block.settings.caption == blank and
            block.settings.button == blank and
        	block.settings.article_image
        %}
            {% assign has_content = false %}
          {% endif %}

          {% if block.settings.image  %}
            {% assign slide_image = block.settings.image %}
            {% assign placeholder_image_style = false %}
          {% else %}
            {% assign placeholder_image_style = 'lifestyle-' | append: current %}
            {% assign color_string = settings.body-text-color | hex_to_rgba: 0.35 %}
            {%- capture slide_image -%}
              {%-
                include 'placeholder_svg_uri',
                placeholder: placeholder_image_style,
                color_string: color_string
              -%}
            {%- endcapture -%}
          {% endif %}

          {%- capture slide_class -%}
            slideshow-slide
            text-aligned-{{ block.settings.alignment }}
            has-image
            {% if has_content %}has-text{% endif %}
          {%- endcapture -%}

          {% assign crop = 'center' %}

          {% if section.settings.slideshow_layout == 'content-width' %}
            {% assign crop = '' %}
          {% endif %}
          
            <article
              data-slide="{{ forloop.index }}"
              class="{{- slide_class | strip_newlines -}}"
              {% if placeholder_image_style %}
                style="background-image: url('{{ slide_image }}');"
              {% else %}
                {% if section.settings.slideshow_layout != 'content-width' %}
                  {% assign crop_image = 'center' %}
                {% endif %}

                {%
                  include 'rimg',
                  img: block.settings.image,
                  size: image_size,
                  background: true,
                  crop: crop_image,
                  lazy: true
                %}
              {% endif %}
              

            

              {{ block.shopify_attributes }}
            >

            {% if block.settings.mobile_bg %}
                <div class="mobile-img-container">

                      {%
                        include 'rimg',
                        img: block.settings.mobile_bg,
                        size: image_size,
                        class: 'mobile-image',
                        crop: crop_image,
                        lazy: true,
                        canvas: true
                      %}
                </div>
          {% endif %}


            <svg class="play-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 494.1 494.1"><path d="M405.3 201.2L130.8 13.3C118.1 4.6 105.4 0 94.7 0 74.2 0 61.5 16.5 61.5 44v406.1c0 27.5 12.7 44 33.2 44 10.6 0 23.2-4.6 35.9-13.3l274.6-187.9c17.7-12.1 27.4-28.4 27.4-45.9C432.6 229.6 423 213.3 405.3 201.2z"/></svg>
         
                
        
              {% if block.settings.link != blank and block.settings.image %}
                <a href="{{ block.settings.link }}">
              {% endif %}
              
                    {% if block.settings.image %}
                  
                      {%
                        include 'rimg',
                        img: block.settings.image,
                        size: image_size,
                        class: 'slide-image',
                        crop: crop_image,
                        lazy: true,
                        canvas: true
                      %}

                    {% else %}
                      {{ placeholder_image_style | placeholder_svg_tag: 'placeholder-svg slide-image' }}
                    {% endif %}
             

              {% if block.settings.link != blank %}
                </a>
              {% endif %}

              {% if has_content %}
                <div class="slide-text">
                  {% if block.settings.title != blank %}
                    <h1 class="slide-title">{{ block.settings.title | escape }}</h1>
                  {% endif %}

                  {% if block.settings.subtitle != blank %}
                    <h2 class="slide-subtitle">{{ block.settings.subtitle | escape }}</h2>
                  {% endif %}
                  <div class="slide-text-button">
                      {% if block.settings.caption != blank %}
                        <div class="slide-caption">
                          {{ block.settings.caption }}
                        </div>
                      {% endif %}
                      {% if block.settings.button != blank and block.settings.link != blank %}
                          <a class="slide-button button" href="{{ block.settings.link }}">
                            {{ block.settings.button | escape }}
                          </a>
                      {% endif %}
                  </div>
                </div>
              {% endif %}

              <!-- Modal -->
              <div class="modal fade bd-example-modal-lg" id="video_bg_modal" data-backdrop="false"  tabindex="-1" role="dialog" aria-labelledby="video-bg" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                  <div class="modal-content">
                   
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                   {% if block.settings.video.type == 'vimeo'%}
                   {% assign handle = block.settings.video %}
                  

                   <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="vimeo_player" 
                    src="https://player.vimeo.com/video/{{ handle | split:'/' | last }}?autoplay=1&loop=1&autopause=0?api=1&player_id=vimeoplayer"
                    name="vimeoplayer" 
                    allow="autoplay"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  
                  </div>
                      {% else %}
                        <div class="video-background">
                          {% assign video_type = block.settings.video.type | default: 'youtube' %}
                          {% assign video_id = block.settings.video.id | default: '_9VUPq3SxOc' %}
                          {% assign video_layout = block.settings.video_layout | default: 'full-width' %} 
                            <div class="video-foreground">
                            
                                <script
                                  type="application/json"
                                  data-section-type="pxs-video"
                                  data-section-id="{{ section.id }}"
                                  data-section-data
                                >
                              
                                  {
                                    "autoplay": {{ block.settings.autoplay_video | json }} 
    
                                  }
                                
                                </script>
    
                                <div
                                    class="pxs-video
                                    pxs-video-{{ video_layout }}
                                    {% unless video_layout == 'full-width'
                                      and block.settings.title == blank
                                      and block.settings.text == blank %}
                                      {{ block.settings.style }}
                                    {% endunless %}
                                    module-container
                                    ">
                                  
    
                                    <div
                                      class="
                                        video-container
                                        video-aspect-ratio-{{ block.settings.aspect_ratio }}
                                      "
                                      data-video-container
                                    >
                                  
                                    
    
                                      <div
                                        class="video video-{{ video_type }}"
                                        data-video="{{ video_type }}"
                                        data-video-id="{{ video_id }}"
                                      >
                                      </div>
                                    </div>
                                </div>
                              
                        </div>
                      
                    
                    
                        </div>
                        
                    {%endif%}
                         
                   
                  
                  </div>
                </div>
              </div>
            

            </article>
           

            
          
         
        {% endfor %}
      </section>


    {% endif %}
   
  </div>


{% endif %}


  <style>


    .fullscreen-video-wrap{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:60vh;
      overflow:hidden;
  }
  .fullscreen-video-wrap video{
      max-height:100%;
      max-width:100%;
  }

  .mobile-img-container{
      display:none!important;
  }
   @media (max-width: 720px) { 
     .slide-image{
       display:none!important;
     }

    .mobile-img-container{
        display:block!important;
        background-size:cover!important;
    }
    .mobile-img-container img{
        margin-top: 0;
        height:100%;
    }
    

  }
  
  </style>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable"
    },
    {
      "type": "checkbox",
      "id": "show_shadows",
      "label": "Show shadows on text elements"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#68574d"
    },
    {
      "type": "select",
      "id": "slideshow_layout",
      "label": "Layout",
      "options": [
        {
          "value": "content-width",
          "label": "Content width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "full-bleed",
          "label": "Full width, full bleed"
        },
        {
          "value": "opening-screen",
          "label": "Full width\/height, full bleed"
        }
      ],
      "default": "content-width",
      "info": "[Style examples](http:\/\/cdn.pixelunion.net\/startup\/startup-slideshow-layouts.png)"
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Transition",
      "options": [
        {
          "value": "transition-slide",
          "label": "Slide"
        },
        {
          "value": "transition-fade",
          "label": "Fade"
        }
      ],
      "default": "transition-slide"
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Auto-rotate slides",
      "default": true
    },
    {
      "type": "range",
      "id": "frequency",
      "label": "Change slides every",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "sec",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
       
        {
          "type": "video_url",
          "id": "video",
          "label": "YouTube or Vimeo link",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
    
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "Aspect ratio",
          "options": [
            { "label": "16:9", "value": "16-9" },
            { "label": "21:9", "value": "21-9" }
          ],
          "default": "16-9"
        },
        {
          "type": "select",
          "id": "video_layout",
          "label": "Layout",
          "options": [
            {
              "value": "content-width",
              "label": "Content width"
            },
            {
              "value": "full-width",
              "label": "Full width"
            }
          ],
          "default": "full-width"
        },
        {
          "type": "checkbox",
          "id": "autoplay_video",
          "label": "Autoplay",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "[Read more](https://support.pixelunion.net/article/335-setting-up-your-homepage#Slideshow) about image sizes"
        },
        {
          "type": "image_picker",
          "id": "mobile_bg",
          "label": "Mobile Image",
          "info": "Mobile image background"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Align text",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "richtext",
          "id": "caption",
          "label": "Text",
          "default": "<p>Introduce customers to your shop with lifestyle imagery and product photography.</p>"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        },
		{
          "type": "image_picker",
          "id": "article_image",
          "label": "article image ",
          "info": "Artical image"
    	}
	
      ]
    }
  ]
}

{% endschema %}