<section
        class="module-container {{ section.settings.style }} rows-of-{{ section.settings.logos_in_rows }}"
        style = "background:{{ section.settings.color }}"
        data-section-id="{{ section.id }}"
        data-section-type="featured-press">
  <div class="module-inner module-inline-items dynamic-logo-list">

    {% if section.settings.title != blank %}
      <h1 class="section-title" style="color:{{ section.settings.head_color }}">{{ section.settings.title | escape }}</h1>
    {% endif %}

    {% for block in section.blocks %}
      {%- assign logo = block.settings.logo -%}
      {%- assign caption = block.settings.caption -%}
      {%- assign url = block.settings.url -%}

      <div class="module-inline-item dynamic-logo-list-item" {{ block.shopify_attributes }}>
        {% if url != blank %}
        <a href="{{ url }}" >
          {% endif %}
          {% if block.settings.logo != blank %}
            {{ logo }}
          {% else %}

            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div  class="logos-title-for-mobile">
            {{caption}}
          </div>

          {% if url != blank %}
        </a>
        {% endif %}
      </div>

    {% endfor %}

  </div>
</section>

{% schema %}
  {
  "name": "Logo list",
  "max_blocks": 12,
  "settings": [

  {
  "type":"color",
  "id":"color",
  "label":"Select Background Color"
  },
  {
  "type": "text",
  "id": "title",
  "label": "Heading",
  "default": "Logo list"
  },
  {
  "type":"color",
  "id":"head_color",
  "label":"Select Header Text Color"
  },
  {
  "type": "range",
  "id": "logos_in_rows",
  "label": "Logos per row",
  "min": 2,
  "max": 5,
  "step": 1,
  "default": 5
  }
  ],
  "blocks": [
  {
  "type": "logo",
  "name": "Logo",
  "settings": [

  {
  "type": "url",
  "id": "url",
  "label": "Link URL"
  },
  {
  "type": "html",
  "id": "logo",
  "label": "Svg Icon Code ",
  "info": ".svg recommended"
  },

  {
  "type": "richtext",
  "id": "caption",
  "label": "Text",
  "default": "<p>Select imagery and text that relates to your style and story.</p>"
  }

  ]
  }
  ],
  "presets": [
  {
  "category": "Image",
  "name": "Logo list",
  "blocks": [
  {
  "type": "logo"
  },
  {
  "type": "logo"
  },
  {
  "type": "logo"
  },
  {
  "type": "logo"
  }
  ]
  }
  ]
  }

{% endschema %}
