{% assign image = section.settings.image %}
{% assign has_cta = false %}
{% assign has_link_wrapper = false %}

{%- if section.settings.title != blank or section.settings.caption != blank -%}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text != blank and section.settings.button_link != blank -%}
  {% assign has_cta = true %}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text == blank and section.settings.button_link != blank -%}
  {% assign has_link_wrapper = true %}
{%- endif -%}

{% if image != blank %}
  {% assign image_size = '2048x2048' %}

  {%- capture background_image -%}
    {%
      include 'rimg',
      img: image,
      size: image_size,
      background: true,
      lazy: true
    %}
  {%- endcapture -%}
  {%- capture feature_image -%}
    {%
      include 'rimg',
      img: image,
      size: image_size,
      class: 'feature-image',
      lazy: true
    %}
  {%- endcapture -%}
{% else %}
  {%- capture background_image -%}
    {%- include 'placeholder_svg_uri' placeholder: 'lifestyle-1' -%}
  {%- endcapture -%}
  {%- capture feature_image -%}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg feature-image' }}
  {%- endcapture -%}
{% endif %}

{%- capture section_class -%}
  {{ section.settings.style }}
  full-width-background

  {% unless has_content %}no-content{% endunless %}
{%- endcapture -%}

<section
  class="module-container home-full-width-feature text-overlay {{ section_class | strip_newlines }}"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-image-with-text-overlay"
  data-image-with-text-layout="background"
  {% if image != blank %}
    {{ background_image }}
  {% else %}
    style="background-image: url('{{ background_image | strip }}')"
  {% endif %}
>

  {% if has_link_wrapper %}
  <a class="home-full-width-feature-link-wrapper" href="{{ section.settings.button_link }}">
  {% endif %}

  {{ feature_image | strip }}

  <div class="home-module-overlay opacity-{{ section.settings.overlay_opacity_strength }}"></div>

  {% if has_content %}
    <div class="home-full-width-feature-content">
      <article class="module-inner container">
        <div class="row text-left">
            <div class="col-md-4 col-sm-12">
              {%
                include 'rimg',
                img: section.settings.logo,
                alt: 'block logo',
                size: '300x90',
                class: 'logo-regular mb-3',
                attr: logo_attributes,
                lazy: true
              %}
                {% if section.settings.title != blank %}
                  <h1 class="feature-title text-capitalize  text-white">{{ section.settings.title | escape }}</h1>
                {% endif %}
              </div>

              <div class="col-md-6 offset-md-2 col-sm-12">

                  {% if section.settings.caption != blank %}
                    <div >
                      <p class="text-light">
                        {{ section.settings.caption }}
                      </p>

                    </div>
                  {% endif %}
                <a href="#" class="text-decoration-underline">Read the peer-reviewed, published study.</a>
                  {% if has_cta %}
                    <div class="home-module-cta">
                      <a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_text | escape }}</a>
                    </div>
                {% endif %}
              </div>


            </div>



      </article>
    </div>
  {% endif %}

  {% if section.settings.button_link != blank %}
    </a>
  {% endif %}
</section>

{% schema %}
{
  "name": "Image with text overlay",
  "settings": [

    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        },
		{
          "value": "darker",
          "label": "Darker"
        }
      ],
      "default": "default-style"
    },
      {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "300 x 90x .png recommended"
      },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "type": "richtext",
      "id": "caption",
      "label": "Text",
      "default": "<p>Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link URL"
    },

    {
      "type": "range",
      "id": "overlay_opacity_strength",
      "label": "Overlay opacity",
      "min": 0,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 90
    }
  ],
  "blocks":[
      {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
      }

  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text overlay"
    }
  ]
}

{% endschema %}
