{% assign image = section.settings.image %}
{% assign mb_image = section.settings.mobile_image %}
{% assign has_cta = false %}
{% assign has_link_wrapper = false %}

{%- if section.settings.title != blank or section.settings.caption != blank -%}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text != blank and section.settings.button_link != blank -%}
  {% assign has_cta = true %}
  {% assign has_content = true %}
{%- endif -%}

{%- if section.settings.button_text == blank and section.settings.button_link != blank -%}
  {% assign has_link_wrapper = true %}
{%- endif -%}





<section
  class="module-container home-full-width-feature text-left-overlay section_bg {{ section_class | strip_newlines }}"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-image-with-text-overlay"
  data-image-with-text-layout="background"

>

  {% if has_link_wrapper %}
  <a class="home-full-width-feature-link-wrapper" href="{{ section.settings.button_link }}">
  {% endif %}

  {{ feature_image | strip }}
  <div class="home-module-overlay opacity-{{ section.settings.overlay_opacity_strength }}"></div>
  {% if has_content %}

    <div class="home-full-width-feature-content container">
      <div class="row">
        <div class="col-md-6">
          <article class="text-left home-girl-decs">
            {% if section.settings.title != blank %}
              <h1 >{{ section.settings.title  }}</h1>
            {% endif %}
    
            {% if section.settings.caption != blank %}
              <div >{{ section.settings.caption }}</div>
            {% endif %}
    
            {% if has_cta %}
              <div class="btn no-border">
                <a  href="{{ section.settings.button_link }}">{{ section.settings.button_text | escape }}</a>
              </div>
            {% endif %}
            {% if section.settings.small_text != blank %}
              <div class="small_text" >{{ section.settings.small_text }}</div>
            {% endif %}
          </article>
        </div>

      </div>
     

    </div>
  {% endif %}

  {% if section.settings.button_link != blank %}
    </a>
  {% endif %}
</section>

{% style %}
    .section_bg{
        background:
        {%- if image -%}
          url("{{ image | img_url: 'master' }}")
        {%- endif -%} ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-color: #030306;
    }
  @media (max-width: 767px) {
      .section_bg{
              background:
              {%- if mb_image -%}
                url("{{  mb_image | img_url: 'master' }}")
              {%- endif -%} ;
              background-repeat: no-repeat;
              background-size: contain;
              background-color: #fff;
      }
  }


{% endstyle %}


{% schema %}
{
  "name": "Image with text-alignment",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
 	{
      "type": "image_picker",
      "id": "image",
      "label": "BG Image"
    },
    {
    "type": "image_picker",
    "id": "mobile_image",
    "label": "BG Mobile Image"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Heading",
      "default": "Image with text-align overlay"
    },
    {
      "type": "html",
      "id": "caption",
      "label": "Text",
      "default": "<p>Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link URL"
    },
	 {
      "type": "html",
      "id": "small_text",
      "label": "Enter Small Text",
      "default": "<p>Enter small info text</p>"
    },
   
    {
      "type": "range",
      "id": "overlay_opacity_strength",
      "label": "Overlay opacity",
      "min": 0,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 0
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text-alignment overlay"
    }
  ]
}

{% endschema %}
