<div style="background: {{ section.settings.bg_color }};" class="instagram-2-title">
    <div class="text-center">
        {%- if section.settings.block_logo_image -%}
            {%
                include 'rimg',
                img: section.settings.block_logo_image,
                alt: shop.name,
                size: '300x90',
                class: 'logo-regular',
                attr: logo_attributes,
                lazy: true
            %}
        {%- endif -%}
        <h1 class="text-capitalize text-white mb-5 mt-3 ">{{ section.settings.header_text }}</h1>
    </div>
    <div id="insta-feed" class="container" ></div>
</div>
{% schema %}
    {
    "name": "Instagram Feed Design-2",
        "settings": [
            {
                "type":"color",
                "id":"bg_color",
                "label":"Background Color"
            },
            {
                "type": "image_picker",
                "id": "block_logo_image",
                "label": "Logo image"
            },
            {
                "type": "richtext",
                "id": "header_text",
                "label": "Header Text"
            }
        ]
    }

{% endschema %}
