{%- assign sset = section.settings -%}{%- if sset.show_about_section -%}
<div class="the-sciense-story-area" id="section-{{ section.id }}" >


	  <article class="block-image"


	  >


		  {% endif %}
		  {%- if sset.show_content -%}

				  <div class="story-details pl-50 container">
					  {%- if sset.title != '' or sset.subtitle != '' -%}
						  <div class="story-details-top">
							  {%- if sset.title != '' -%}
								  <h2>{{ sset.title }}</h2>
							  {%- endif -%}

							  {%- if sset.subtitle != '' -%}
								  <p>{{ sset.subtitle }}</p>
							  {%- endif -%}
						  </div>
					  {%- endif -%}

					  {%- for block in section.blocks -%}{%- case block.type -%}
					  {%- when 'content' -%}
						  <div class="story-details-bottom mb-5">
							  <div class="container">
								  <div class="row">
									  <div class="col-md-4">
										  {%- if block.settings.title != '' -%}
											  <h4 class="text-white font-weight-bold text-lowercase">{{ block.settings.title }}</h4>
											  {% if block.settings.header_logo %}
												  {%
													  include 'rimg',
													  img: block.settings.header_logo,
													  alt: Logo,
													  size: '300x90',
													  class: 'logo_2',
													  attr: logo_attributes,
													  lazy: true
												  %}
											{%- endif -%}
										  {%- endif -%}
									  </div>
										<div class="col-md-6 offset-md-2">
											{%- if block.settings.subtitle != '' -%}
												<p class="text-white">{{ block.settings.subtitle }}</p>
											{%- endif -%}
										</div>

								  </div>
							  </div>

						  </div>
					  {%- endcase -%}{%- endfor -%}
				  </div>

		  {%- endif -%}

	  </article>



</div>



</div>


{% style %}
	.block-image{
		background:
		{%- if  sset.bg_img -%}
			url("{{ sset.bg_img | img_url: 'master' }}")
		{%- endif -%} ;
	background-size: cover;
	background-repeat: repeat-x;

	}
	@media (max-width: 767px) {
		.block-image{
			background:
			{%- if sset.mobile_bg_img -%}
				url("{{  sset.mobile_bg_img | img_url: 'master' }}")
			{%- endif -%} ;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}


{% endstyle %}





{% schema %}
  {
    "name": "The Sciense Block",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_about_section",
            "label": "Show About Us",
            "default": true
        },
        {
            "type": "radio",
            "id": "page_content",
            "label": "Content show from-",
            "options": [
				{
					"label": "Page",
					"value": "page"
				},
				{
					"label": "Section",
					"value": "section"
				}
			],
            "default": "section"
        },
		{
            "type": "header",
            "content": "Image"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show Image",
            "default": true
        },

        {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Bg Image"
        },
		{
		"type": "image_picker",
		"id": "mobile_bg_img",
		"label": "Mobile BG Image"
		},

		{
            "type": "header",
            "content": "Content"
        },
        {
            "type": "checkbox",
            "id": "show_content",
            "label": "Show Content",
            "default": true
        },
		{
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "WELCOME TO <span>PARLO</span>"
        },
		{
            "type": "html",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Parlo provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer."
        },
		{
			"type":"color",
			"label":"Text Color",
			"id":"text_color"
		}
	],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "WE START AT 2015"
                },
                {
                    "type": "html",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "default": "Parlo provide how all this mistaken idea of denouncing pleasure and sing pain was born an will give you a complete account of the system, and expound the actual teachings of the eat explorer."
                },
				{
				"type": "image_picker",
				"id": "header_logo",
				"label": "Logo image",
				"info": "300 x 90x .png recommended"
				}
			]
		},
	    {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 2,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},

			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
	.block-image{
		background-size:cover;
		background-repeat:repeat-x;
	}
	.story-details{
		padding:5rem 0;
	}

{% endstylesheet %}


{% javascript %}
{% endjavascript %}
