<section
        class="three-pic-part-main"
        style = "background:{{ section.settings.color }}"
        data-section-id="{{ section.id }}"
        data-section-type="featured-press">
  <div class="container">


        <div class="row " >
            {% for block in section.blocks %}
            {%- assign logo = block.settings.logo -%}
            {%- assign caption = block.settings.caption -%}
            {%- assign url = block.settings.url -%}

            <div class="col-md-4 three-pic-part" >
            
                    <div class="three-pic-item">
                        <div class="home-inline-feauture-image">
                            {% if block.settings.logo != blank %}
                                {{ logo }}
                                {% else %}
                                    {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                        </div>
                        <article class="home-inline-text">
                            {% if block.settings.title != blank %}
                                <h1 class="feature-title">{{ block.settings.title  }}</h1>
                            {% endif %}

                            {% if block.settings.caption != blank%}
                                <div class="rte">
                                    <p>{{ block.settings.caption }}</p>
                                </div>
                            {% endif %}

                        
                        </article>
                        
                
            

                    </div>
            
            </div>

        {% endfor %}

        </div>
  
  </div>
</section>

{% schema %}
  {
  "name": "Logo list",
  "max_blocks": 12,
  "settings": [

  {
  "type":"color",
  "id":"color",
  "label":"Select Background Color"
  },
  {
  "type":"color",
  "id":"head_color",
  "label":"Select Header Text Color"
  }

  ],
  "blocks": [
  {
  "type": "logo",
  "name": "Logo",
  "settings": [

  {
  "type": "html",
  "id": "title",
  "label": "Title"
  },
  {
  "type": "html",
  "id": "logo",
  "label": "Svg Icon Code ",
  "info": ".svg recommended"
  },

  {
  "type": "html",
  "id": "caption",
  "label": "Text",
  "default": "Spend $60 or more on OXIGEN and we pay to ship to you."
  }

  ]
  }
  ],
  "presets": [
  {
  "category": "Image",
  "name": "Logo list",
  "blocks": [
  {
  "type": "logo"
  },
  {
  "type": "logo"
  },
  {
  "type": "logo"
  },
  {
  "type": "logo"
  }
  ]
  }
  ]
  }

{% endschema %}
