<script
  type="application/json"
  data-section-type="static-blog"
  data-section-id="{{ section.id }}"
></script>

{% assign paginate_by = 5 %}
{% if section.settings.layout == 'grid' %}
  {% assign paginate_by = 4 %}
{% endif %}

{% if current_tags %}
  <p class="current-tag">{{ 'blogs.blog.posts_tagged' | t }} <em>"{{ current_tags.first }}"</em></p>
{% endif %}

{% paginate blog.articles by paginate_by %}

  <div class="blog-cont" style="background:{{ section.settings.bg_color }}" >
    <div class="row d-flex justify-content-center">
      <div class="blog-main-div">
        {% for article in blog.articles %}
          {% if section.settings.layout == 'grid' %}
            {% include 'article-grid-item' %}
          {% else %}
            {% include 'article-list-item' %}
          {% endif %}
        {% else %}
          <span class="empty">{{ 'blogs.blog.empty' | t }}</span>
        {% endfor %}
      </div>

    </div>

  </div>

  {% if paginate.previous or paginate.next %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ]
    },


    {
      "type":"color",
      "id":"bg_color",
      "label":"Select color"
    },
    {
      "type": "checkbox",
      "id": "show_rss_icon",
      "label": "Show RSS icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "info": "List layout only",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "info": "List layout only"
    },
    {
      "type": "checkbox",
      "id": "show_comment_count",
      "label": "Show comment count",
      "info": "List layout only"
    }

  ]
}

{% endschema %}
