<script
  type="application/json"
  data-section-type="static-cart"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "not_available_text": {{ 'cart.general.not_available'| t | json }},
    "stock_level_text": {{ 'cart.general.stock_level' | t: stock_count: '** stock_count **' | json }},
    "okay_text": {{ 'cart.general.okay' | t | json }}
  }
</script>
<div class="container">

  <h1 class="page-title">{{ 'cart.general.header' | t }}</h1>

  {% if cart.item_count > 0 %}
    <form
      class="cart"
      action="/cart"
      method="post"
      data-cart
    >
      <div class="cart-header">
        <span class="cart-header-product">{{ 'cart.header.product' | t }}</span>
        <span class="cart-header-price">{{ 'cart.header.price' | t }}</span>
        <span class="cart-header-quantity">{{ 'cart.header.quantity' | t }}</span>
        <span class="cart-header-total">{{ 'cart.header.total' | t }}</span>
      </div>

      <div class="cart-items" data-cart-items>
        {% for line_item in cart.items %}
          {% include 'line-item', line_item: line_item %}
        {% endfor %}
      </div>

      <div class="cart-tools">
        {% if section.settings.enable_order_notes %}
          <div class="cart-instructions">
            <p>{{ 'cart.general.instructions_title' | t }}</p>
            <textarea
              class="input-field-textarea"
              rows="6"
              name="note"
              placeholder="{{ 'cart.general.instructions_placeholder' | t }}"
              data-cart-note
            >{{ cart.note }}</textarea>
          </div>
        {% endif %}

        <div
          class="
            cart-totals-checkout
            {% unless section.settings.enable_order_notes %}cart-totals-checkout-full-width{% endunless %}
          "
        >
          <div class="cart-totals" data-cart-totals>
            {% if cart.cart_level_discount_applications.size > 0 %}
              <div class="cart-discounts">
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <div class="cart-discount">
                    <div class="cart-discount-title">
                      {%- include 'icon-discount-tag' -%}
                      {{- discount_application.title -}}
                    </div>
                    <div class="cart-discount-value">-<span class="money">{{ discount_application.total_allocated_amount | money }}</span></div>
                  </div>
                {%- endfor -%}
              </div>
            {% endif %}

            <span class="cart-price money">{{ cart.total_price | money }}</span>

            <p class="cart-message meta">{{ 'cart.general.tax_and_shipping' | t }}</p>
          </div>

          <div class="cart-checkout-buttons-wrapper">
            <button class="cart-button-checkout button"
              type="submit"
              name="checkout"
              value="{{ 'cart.general.submit' | t }}">
              {% if section.settings.enable_checkout_lock_icon %}
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 11.1667C2.5 10.0622 3.39543 9.16675 4.5 9.16675H15.5C16.6046 9.16675 17.5 10.0622 17.5 11.1667V16.3334C17.5 17.438 16.6046 18.3334 15.5 18.3334H4.5C3.39543 18.3334 2.5 17.438 2.5 16.3334V11.1667Z" fill="currentColor"/>
                  <path d="M5.83337 9.16675V5.83341C5.83337 3.53223 7.69885 1.66675 10 1.66675C12.3012 1.66675 14.1667 3.53223 14.1667 5.83341V9.16675" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              {% endif %}
              <span>{{ 'cart.general.submit' | t }}</span>
            </button>
          </div>

          {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {% endif %}

          {% if settings.enable_currency_converter %}
            <p class="cart-currency-note meta">
              {{ 'cart.general.currency_note_html' | t: currency: shop.currency }}
            </p>
          {% endif %}
        </div>
      </div>
    </form>

    {% if section.settings.show_shipping_calculator and cart.requires_shipping %}
      {% include 'shipping-calculator' %}
    {% endif %}
  {% endif %}

  <p class="cart-empty">{{ 'cart.general.empty' | t }} <a href="{{ shop.url }}/collections/all">{{ 'cart.general.continue' | t }}</a></p>
</div>
{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_checkout_lock_icon",
      "label": "Show lock icon on checkout button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_vendor",
      "label": "Show names of vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_order_notes",
      "label": "Enable order notes",
      "info": "This feature gives your customers the ability to attach a note to the order.",
      "default": true
    },
    {
      "type": "header",
      "content": "Shipping rate calculator"
    },
    {
      "type": "checkbox",
      "id": "show_shipping_calculator",
      "label": "Enable"
    },
    {
      "type": "text",
      "id": "shipping_calculator_default_country",
      "label": "Default country",
      "default": "United States",
      "info": "If a customer is logged in to their account, their default shipping address country will be selected."
    }
  ]
}

{% endschema %}
