
<div>
    <h1>{{ section.settings.user_name }}</h1>
    <img src="{{ section.settings.user_img | img_url : 'medium' }}" alt="">
</div>
{% schema %}
    {
        "name":"Slideshow",
        "settings": [

            {
                "type":"image_picker",
                "id":"user_img",
                "label":"User Photo"
            },
            {
                "type":"text",
                "id":"user_name",
                "label":"User Name"
            }
        ],
        "presets" :[
            {
                "category": "Custom Content" ,
                "name" : "text"

            }

        ]
    }

{% endschema %}
