{% assign access_token = section.settings.access_token | escape %}
{% assign tag = section.settings.tag %}

<section
  style="background: {{section.settings.bg_color}}"
  class="module-container module-hidden "
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-instagram"
>
  <div
    class="module-inner dynamic-instagram"
    data-instagram-token="{{ access_token }}">

    {% if section.settings.title != blank and section.settings.logo_min !=blank %}
      <div class="text-center">
        {%
          include 'rimg',
          img: section.settings.logo_min,
          alt: shop.name,
          size: '300x90',
          class: 'logo-regular',
          attr: logo_attributes,
          lazy: true
        %}
        <h1 class="text-capitalize text-white mb-5">{{ section.settings.title | escape }}</h1>
      </div>

    {% endif %}

    {% if access_token != blank %}
      <div data-instagram-photos class="text-center"></div>
    {% else %}

            <div >
                {% for i in (1..6) %}

                          <span class="instagram-photo">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                         </span>


                {% endfor %}
            </div>


    {% endif %}

    {% if section.settings.button_text != blank and section.settings.button_link != blank %}
      <div class="home-module-cta">
        <a class="button" href="{{ section.settings.button_link }}">
          {{ section.settings.button_text | escape }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Instagram feed",
  "settings": [
  {
  "type": "image_picker",
  "id": "logo_min",
  "label": "Logo image",
  "info": "300 x 90x .png recommended"
  },
	{
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fbf3f0"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram feed"
    },
    {
      "type": "text",
      "id": "access_token",
      "label": "Access token",
      "info": "Get your [access token](http:\/\/instagram.pixelunion.net)."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "category": "Social media",
      "name": "Instagram feed"
    }
  ]
}

{% endschema %}
