<section
        class="module-container {{ section.settings.style }} grid-of-{{ section.blocks.size }}"
        data-section-id="{{ section.id }}"
        data-section-type="dynamic-testimonials"
>
  <div class="module-inner dynamic-testimonials-no-image">
    {% if section.settings.title != blank %}
      <h1 class="section-title">{{ section.settings.title  }}</h1>
    {% endif %}
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          <div class="col-lg-{{ section.settings.layout_col }} col-sm-12 ">
            <div class="home-testimonial">
              {% if block.settings.quote != blank %}
                <blockquote class="home-testimonial-quote">
                  {{ block.settings.quote  }}
                </blockquote>
              {% endif %}

              {% if block.settings.source != blank%}
                <p class="home-testimonial-quote-source">
                  {{ block.settings.source  }}
                </p>
              {% endif %}
              {% if block.settings.source != blank%}
                <p class="home-testimonial-quote-source">
                  {{ block.settings.profession  }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}


      </div>
    </div>


  </div>
</section>

{% schema %}
  {
  "name": "Testimonials no-image",
  "max_blocks": 6,
  "settings": [
  {
  "type": "select",
  "id": "layout_col",
  "label": "Layout Column",
  "options": [
  {
  "label": "1",
  "value": "12"
  },
  {
  "label": "2",
  "value": "6"
  },
  {
  "label": "3",
  "value": "4"
  },
  {
  "label": "4",
  "value": "3"
  }
  ],
  "default": "3"
  },
  {
  "type": "select",
  "id": "style",
  "label": "Style",
  "options": [
  {
  "value": "default-style",
  "label": "Default"
  },
  {
  "value": "accent-style",
  "label": "Accent"
  },
  {
  "value": "contrast-style",
  "label": "Contrast"
  }
  ],
  "default": "default-style"
  },
  {
  "type": "html",
  "id": "title",
  "label": "Heading",
  "default": "Testimonials no-image"
  }
  ],
  "blocks": [
  {
  "type": "testimonial",
  "name": "Testimonials no-image",
  "settings": [
  {
  "type": "html",
  "id": "quote",
  "label": "Quote",
  "default": "Showcase up to six testimonials to build trust with potential customers."
  },
  {
  "type": "html",
  "id": "source",
  "label": "Source",
  "default": "Source's name."
  },
  {
  "type": "html",
  "id": "profession",
  "label": "profession",
  "default": "Source's profession."
  }
  ]
  }
  ],
  "presets": [
  {
  "category": "Text",
  "name": "Testimonials no-image",
  "settings": {
  "style": "default"
  },
  "blocks": [
  {
  "type": "testimonial",
  "settings": {
  "source": "Jane"
  }
  },
  {
  "type": "testimonial",
  "settings": {
  "source": "John"
  }
  }
  ]
  }
  ]
  }

{% endschema %}

{% stylesheet %}


{% endstylesheet %}



