{%- assign sset = section.settings -%}{%- if sset.show_about_section -%}
<div class="the-sciense-story-area" id="section-{{ section.id }}" >


	  <article class="partner-article-image">
		  {% endif %}	
		  <div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-6 logo-col">
				
						<div class="text-center">
							{%- if section.settings.header_logo -%}
								{%
									include 'rimg',
									img: section.settings.header_logo,
									alt: Logo,
									lazy: true
		
								%}
							{%- endif -%}
						</div>

					
				</div>
					<div class="col-md-12 col-lg-6 col-sm-12 text-col-container ">
						<div class="text-col">
							{%- if section.settings.subtitle != '' -%}
								<div class="bayer_text">
									<p >{{ section.settings.subtitle }}</p>
								</div>
							{%- endif -%}

						</div>
					
					</div>
			</div>
		</div>
		
	  </article>

</div>

</div>


{% style %}

.logo-col{
	position:relative;
}
.text-col{
	order:1;
	width:75%;
	color:#fff;
	line-height: 23px;
}
.bayer_text{
    margin-top: 6rem;
    width: 100%;
	font-size:19px;
	font-weight: 100;
	position: relative;
	z-index: 9999;
  }

.text-col p{
	margin-bottom:0;
}
.we-are{
	margin-top:.5rem;
	font-style:italic;
	margin-bottom:1rem;
}
/*.logo-col img{
    position: absolute;
	bottom: 0%;
    left: 30%;
    width: auto;
    height: 130px;
}
*/
@media (max-width: 767px) {
	.partner-article-image{
		height:100%;
	}
	.logo-col{
			order:2;
	}
	.logo-col img{
	    width: auto ;
    	height: 104px ;
		margin: 2rem 0;
	}
	.text-col{
		order:1;
		width: 90%;
		margin: 0 auto;
	
	}
	.we-are{
		margin-top:.5rem;
		margin-bottom:.5rem;
	}
	.bayer_text{
		width: 100%;
		margin-left: 0;
		font-size: 15px;
		margin-top: 14.5rem;

	  }
	  .mobile-bayer-jorg div{
		  display:inline-block;
	  }

}
/*iphone x */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
	.partner-article-image{
		height:100%;
	}
	.bayer_text{
		margin-top: 14.5rem;
	  }
	  .logo-col img{
		bottom: -120px;
		left: 16%;
	}
}
/* small mobiles iphones 5 , 4 */
@media (max-width: 320px) {
	.partner-article-image{
		height:100%;
	}
	.bayer_text {
		margin-top: 10rem;
	}
	.logo-col img{
		left: 11%;
		bottom: -120px;
	}
	.text-col{
		width:100%;
	}
}
/* Device = Tablets, Ipads (portrait) */

@media (min-width: 768px) and (max-width: 1023px) {
	.partner-article-image{
		height:1024px!important;
	}

	.text-col {
		order: 1;
		margin: 27rem auto 0 auto;

	}

	.logo-col{
		order:2;

	}
	.logo-col img{
		margin: 3rem 0;
	}
	.bayer_text {
		margin-top: 0; 
		width: 100%;
		font-size: 19px;
		font-weight: 100;
		position: relative;
		z-index: 9999;
	}	
}
/* Landscape orientation Device = Tablets, Ipads (portrait) */
 

 /*##Device = Laptops, Ipad Pro Hd Display */
@media (min-width: 1024px) and (max-width: 1360px) {
	.partner-article-image{
		height:100%!important;
	}
	.text-col-container{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.logo-col{
		order:2;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.logo-col img{
		margin: 3rem 0;
	}
	.bayer_text{
		width:100%;
	}
	.text-col{
		margin: 37rem auto 0 auto;
	
	}
	
}


/*@media (min-width: 1365px) {
  
		.bayer_text{
			margin-top: 5rem;
			width: 80%;
			font-size:19px;
			font-weight: 100;
			position: relative;
			z-index: 9999;
		}
		.logo-col img{
			bottom: -18%;
			left: 23%;
		}
	
  }
  
*/
	.partner-article-image{
		background:
		{%- if sset.bg_img_mobile -%}
			url("{{ sset.bg_img | img_url: 'master' }}")
		{%- endif -%};
		background-repeat: no-repeat;
		background-size: cover;
		padding: 1rem 0;
	}
	
	@media (max-width: 1024px) {
		.partner-article-image{
			background:
			{%- if sset.bg_img_tablet -%}
				url("{{ sset.bg_img_tablet | img_url: 'master' }}")
			{%- endif -%}!important ;
			background-repeat: no-repeat!important ;
			background-size: cover!important ;
			background-color: #343434;
		}
	}
	@media (max-width: 768px) {
		.partner-article-image{
			background:
			{%- if sset.bg_img_mobile -%}
				url("{{ sset.bg_img_mobile | img_url: 'master' }}")
			{%- endif -%} ;
			background-repeat: no-repeat;
			background-size: contain;
			background-color: #343434;
		}
	}
{% endstyle %}





{% schema %}
  {
    "name": "Custom Block",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_about_section",
            "label": "Show About Us",
            "default": true
        },
        {
            "type": "radio",
            "id": "page_content",
            "label": "Content show from-",
            "options": [
				{
					"label": "Page",
					"value": "page"
				},
				{
					"label": "Section",
					"value": "section"
				}
			],
            "default": "section"
        },
		{
            "type": "header",
            "content": "Image"
        },
        {
            "type": "checkbox",
            "id": "show_image",
            "label": "Show Image",
            "default": true
        },

        {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Upload Image"
		},
		{
			"type": "image_picker",
			"id": "bg_img_tablet",
			"label": "Upload Mobile Image"
		},
		{
			"type": "image_picker",
			"id": "bg_img_mobile",
			"label": "Upload Mobile Image"
		},
		{
			"type": "html",
			"id": "subtitle",
			"label": "Subtitle",
			"default": "OXIGEN is the Official Functional Water &amp; Recovery Tool Partner of FC Bayern, one of the world’s most successful soccer teams. The partnership kick-started in January 2018 during the team’s winter break training camp in Qatar, which saw players using OXIGEN as they undertook an intensive training program ahead of the second half of their season. <br> <div class='we-are'>“We are very pleased to announce OXIGEN as our new partner. This innovative brand aligns well with our club and its values.”</div>  <p class='bayer-p'>– Jorg Wacker,</p> <i><span class='bayern-text-bottom'>FC Bayern Munich Executive Board Member for Internationalization and Strategy</span></i> <div class='mobile-bayer-jorg'> <div>– Jorg Wacker,</div> <i>FC Bayern Munich Executive Board Member for Internationalization and Strategy</i> </div>"
		},
		{
		"type": "image_picker",
		"id": "header_logo",
		"label": "Logo image",
		"info": "300 x 90x .png recommended"
		},

		
		{
			"type":"color",
			"label":"Text Color",
			"id":"text_color"
		}
	],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "WE START AT 2015"
                },
                {
                    "type": "html",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "default": "OXIGEN is the Official Functional Water &amp; Recovery Tool Partner of FC Bayern, one of the world’s most successful soccer teams. The partnership kick-started in January 2018 during the team’s winter break training camp in Qatar, which saw players using OXIGEN as they undertook an intensive training program ahead of the second half of their season. <br> <div class='we-are'>“We are very pleased to announce OXIGEN as our new partner. This innovative brand aligns well with our club and its values.”</div>  <p class='bayer-p'>– Jorg Wacker,</p> <i><span class='bayern-text-bottom'>FC Bayern Munich Executive Board Member for Internationalization and Strategy</span></i> <div class='mobile-bayer-jorg'> <div>– Jorg Wacker,</div> <i>FC Bayern Munich Executive Board Member for Internationalization and Strategy</i> </div>"
                },
				{
				"type": "image_picker",
				"id": "header_logo",
				"label": "Logo image",
				"info": "300 x 90x .png recommended"
				},
				{
				"type": "html",
				"id": "adt_text",
				"label": "Subtitle"
				}
			]
		},
	    {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 2,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
	.block-image{
		background-size:cover;
		background-repeat:repeat-x;
	}
	.story-details{
		padding:5rem 0;
	}

{% endstylesheet %}


{% javascript %}
{% endjavascript %}
