@-moz-document url-prefix() {
	.logo-col img {
		position: absolute;
		bottom: -10px;
		left: 30%;
		width: auto;
		height: 130px;
	}
	@media (max-width: 767px) {
		.logo-col{
				order:2;
		}
		.logo-col img{
			width: auto ;
			height: 104px ;
			bottom: -140px;
			left: 16%;
		}
		
		.text-col{
			order:1;
			width: 90%;
			margin: 0 auto;
		
		}
		.we-are{
			margin-top:.5rem;
			margin-bottom:.5rem;
		}
		.bayer_text {
			width: 100%;
			margin-left: 0;
			font-size: 15px;
			margin-top: 6rem;
		}
		  .mobile-bayer-jorg div{
			  display:inline-block;
		  }
	
	}
	/* Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
	.text-col {
		width: 50%;
		order: 1;
		margin-left: 50%;
	}
	.logo-col{
		order:2;
	}
	.logo-col img{
		bottom: -55px;
		left: 8px;
	}
	.bayer_text {
		margin-top: 0; 
		width: 100%;
		font-size: 19px;
		font-weight: 100;
		position: relative;
		z-index: 9999;
	}
	
}


  }