<script
  type="application/json"
  data-section-type="static-404"
  data-section-id="{{ section.id }}"
></script>
<div class="container">

  <h1 class="page-title">
    {{ 'general.404.title' | t }}
  </h1>
  
  <div class="content">
    {% capture link %}
      <a href="/collections/all">{{ 'general.404.link' | t }}</a>
    {% endcapture %}
    <p>{{ 'general.404.subtext_html' | t: link: link }}</p>
  </div>

</div>



