    <!-- Products Module -->
    <section id="custom-content" class="custom-content global-bg">
        {%- section 'global-custom-water' -%}
        <div class="divider"></div>
        {%- section 'global-custom-shots' -%}
        {%- section 'svg-logo-list' -%}
        {%- section 'global-product-bg' -%}

    </section>