<div class="why-oxigen">
    {%- section 'why-slideshow' -%}
    {% comment %}
        {%- section 'why-logo-list' -%}
    {% endcomment %}
    {%- section 'why_block' -%}
    {%- section 'why_block-partners' -%}
    {%- section 'why-testimonials-without-image' -%}
    <!-- Products Module -->
    <section id="custom-content" class="custom-content global-bg">
        {%- section 'global-custom-water' -%}
        <div class="divider"></div>
        {%- section 'global-custom-shots' -%}
        {%- section 'svg-logo-list' -%}
        {%- section 'global-product-bg' -%}
    
    </section>
    {%- section 'home-instagram' -%}
    <!-- {%- section 'instagram-2' -%} -->

</div>




