<div class="the-science">
   {%- section 'the_science-slideshow'-%}
    {%- section 'sciense_block' -%}
    {%- section 'the_sciense_image-with-text-overlay' -%}
    {%- section 'the-sciense-testimonials-without-image' -%}
    <!-- Products Module -->
    <section id="custom-content" class="custom-content global-bg">
        {%- section 'global-custom-water' -%}
        <div class="divider"></div>
        {%- section 'global-custom-shots' -%}
        {%- section 'svg-logo-list' -%}
        {%- section 'global-product-bg' -%}
    
    </section>

    {%- section 'instagram-2' -%}
</div>
