<div class="press-news">
    {%- section 'press_news-slideshow'-%}

    <div class="container">
        <div class="row">
        {%- for article in blog.articles  -%}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        {% if article.image %}
                           {{ article | img_url: '1024x1024' | img_tag: article.title }}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.created_at }}</h5>
                            <a href="{{ article.url }}" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
        {%- endfor -%}
        </div>
    </div>
</div>
