<div class="find-oxigen">
    {%- section 'find_oxigen-slideshow'-%}
    <div class="container mt-5 mb-5">
        <div class="row ">
            <div class="text-center w-100">
                <h4 class="mt-2 mb-4 font-weight-bold find-ox-title" style="color:#00569d;"><span>Find OXIGEN.</span> The O<sub>4</sub> edge near you.</h4>
            </div>
            <div class="locator-container">
               

            </div>
           
        </div>
    </div>
    {%- section 'find_page-testimonials-without-image' -%}

</div>

 <!-- <div id='storerocket-widget' style='width:100%;'   data-storerocket-env='p' data-storerocket-id='WwzpAX78dD'>
                    <p style='text-align:center;font-size:13px;padding:10px;'>Store locator is loading from StoreRocket
                        <a target='_blank' href='https://storerocket.io' style='font-size:13px;'>Store Locator Widget</a>..</p>
                </div> -->
  <!-- Products Module -->
  <section id="custom-content" class="custom-content global-bg">
    {%- section 'global-custom-water' -%}
    <div class="divider"></div>
    {%- section 'global-custom-shots' -%}
    {%- section 'svg-logo-list' -%}
    {%- section 'global-product-bg' -%}

</section>


{%- section 'instagram-2' -%}

<style>


    .locator-container{
        width:100%;
    }
</style>

<script src="https://cdn.storerocket.io/widget.js"></script>
<script>
var config = {
    selector: ".locator-container", // CSS selector where to inject the store locator
    account: "WwzpAX78dD",
    jquery:true
};

StoreRocket.init(config);
</script>