<div class="terms-and-conditions">
  
    <div class="page-header">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
      
      <div class="container">
        
          <div  class="container-content" >
            <div class="publishe_date">
              Last updated: January 15, 2020
              <!-- Last updated: {{ page.published_at | date: format: 'long_month' }} -->
            </div>

            {{ page.content }}
            <div class="back-to">
                  <a href="/">{%- include 'back_to_icon' -%} <span>Back to Home Page</span></a>
            </div>
          </div>
        
      </div>
  
  
</div>


